@charset "UTF-8";
/*-----------------------justify content center-----------------------*/
/*--------general--------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
body {
  margin: 0;
  padding: 0; }

#loading-page {
  background: radial-gradient(circle at center, #99e2d0 10%, #9256dc 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: #99e2d0;
  width: 100%;
  z-index: 1000000;
  animation: load-1 1s 1s cubic-bezier(1, 0.02, 0, 1.28) forwards; }
  #loading-page span {
    font-family: "Shrikhand", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center; }
  #loading-page .loader-letters {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #loading-page .lettre {
    font-size: 35px;
    letter-spacing: 10px;
    margin-bottom: 150px;
    animation: flash 1.9s cubic-bezier(0.52, 0.14, 1, 1.28) infinite; }
  #loading-page .lettre:nth-child(1) {
    animation-delay: 0.30s; }
  #loading-page .lettre:nth-child(2) {
    animation-delay: 0.40s; }
  #loading-page .lettre:nth-child(3) {
    animation-delay: 0.50s; }
  #loading-page .lettre:nth-child(4) {
    animation-delay: .6s; }
  #loading-page .lettre:nth-child(5) {
    animation-delay: .7s; }
  #loading-page .lettre:nth-child(6) {
    animation-delay: .8s; }
  #loading-page .lettre:nth-child(7) {
    animation-delay: 0.9s; }
  #loading-page .lettre:nth-child(8) {
    animation-delay: 0.99s; }
  #loading-page .lettre-1 {
    color: #9256dc;
    text-shadow: 0 0 7px #c95f7f;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-2 {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-3 {
    color: #99e2d0;
    text-shadow: 0 0 7px #9256dc;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-4 {
    color: #9256dc;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-5 {
    color: #ff79da;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-6 {
    color: #99e2d0;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-7 {
    color: #9256dc;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-8 {
    color: #ff79da;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .dot-dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    width: 142px;
    height: 48px;
    background-color: radial-gradient(circle at bottom, #ff79da 10%, #ff79da 100%);
    /* 20=2000%*/
    filter: contrast(1000);
    z-index: 1;
    animation: load-2 3s 3s forwards; }
  #loading-page .dot-dots .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(3px);
    border-radius: 50%;
    background-color: #514284;
    animation: point 5s cubic-bezier(0.67, 0.12, 0.5, 1.3) infinite;
    z-index: -10; }
  #loading-page .dot-dots .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(3px);
    background-color: #514284;
    border-radius: 50%;
    z-index: -10; }
  #loading-page .dot-dots .dots {
    margin-top: 12px;
    margin-left: 31px;
    animation: points 4s cubic-bezier(0.67, 0.12, 0.5, 1.3) infinite; }

.accueil-formulaires-recherche {
  background-color: whitesmoke;
  padding-bottom: 3em;
  display: flex;
  justify-content: center; }
  .accueil-formulaires-recherche .icone-input-paragraphes-boutonRose .icone-input {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    height: 7vh;
    align-items: center;
    box-shadow: 0px -2px 1.9px 1.2px #9f9d9d; }
    .accueil-formulaires-recherche .icone-input-paragraphes-boutonRose .icone-input .icone {
      color: #0f0f0f;
      padding-left: 2em; }
    .accueil-formulaires-recherche .icone-input-paragraphes-boutonRose .icone-input .input-site-search {
      background-color: #eaeaea;
      border: none;
      font-weight: bold;
      font-size: medium;
      margin-left: 15%; }
  .accueil-formulaires-recherche .icone-input-paragraphes-boutonRose .paragraphes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif; }
    .accueil-formulaires-recherche .icone-input-paragraphes-boutonRose .paragraphes .paragrapheUn {
      font-weight: bold;
      font-size: 7.5vw; }
    .accueil-formulaires-recherche .icone-input-paragraphes-boutonRose .paragraphes .paragrapheDeux p {
      margin: 0;
      font-size: 5vw; }

/*----------------bouton rose INDEX + PAGES-----------------*/
.submit-bouton {
  display: flex;
  justify-content: center; }
  .submit-bouton .bouton-rose {
    margin-top: 2em;
    box-shadow: 7px 7px 10px #d2cccc;
    border-radius: 3em; }
    .submit-bouton .bouton-rose .texte-bouton-rose {
      border: none;
      background: linear-gradient(#ff79da, #9256dc);
      font-family: roboto;
      letter-spacing: 1px;
      color: white;
      cursor: pointer;
      border-radius: 3em;
      height: 3em;
      padding: 0 2em;
      font-size: 3.5vw; }

/*--------------------------------*/
/*--------------------------heart page index------------*/
.like-index {
  font-size: x-large;
  position: absolute;
  left: 82%;
  margin-top: -2em; }
  .like-index .empty-heart {
    color: #9256dc;
    animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
    /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/ }
  .like-index .full-heart {
    color: rgba(146, 86, 220, 0.5);
    margin-top: -1.2em;
    z-index: -1;
    position: absolute;
    /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
    animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite; }
  .like-index:hover .full-heart {
    font-weight: bold;
    z-index: 100;
    position: absolute; }
  .like-index:hover .empty-heart {
    color: #514284;
    z-index: 101;
    position: relative; }

/*------------------like pages menus---------------*/
.like {
  font-size: x-large; }
  .like .empty-heart {
    color: #9256dc;
    animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
    /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/ }
  .like .full-heart {
    color: rgba(146, 86, 220, 0.5);
    margin-top: -1.2em;
    z-index: -1;
    position: absolute;
    /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
    animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite; }
  .like:hover .full-heart {
    font-weight: bold;
    z-index: 100;
    position: absolute; }
  .like:hover .empty-heart {
    color: #514284;
    z-index: 101;
    position: relative; }

.sticker-new .sticker {
  background-color: #99e2d0;
  position: absolute;
  left: 62%;
  margin-top: 4%;
  padding: 0.9em;
  border-radius: 8px; }
  .sticker-new .sticker .new {
    color: #008766;
    margin: 0; }

/*----------------------@keyframe loading page----------------*/
@keyframes load-1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none;
    z-index: -100; } }
/*----------------------@keyframe loading page Letter------------*/
@keyframes flash {
  0% {
    color: #99e2d0;
    text-shadow: 0 0 7px #ff79da; }
  90% {
    color: #ff79da;
    text-shadow: #78b32e; }
  100% {
    color: #9256dc;
    text-shadow: 0 0 7px #9256dc; } }
/*----------------------@keyframe loading page LETTERS-----------*/
@keyframes lettres {
  0% {
    opacity: 1;
    text-shadow: 0 0 7px #9256dc; }
  25% {
    opacity: 1;
    text-shadow: 0 0 7px #99e2d0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1;
    text-shadow: 0 0 7px #ff79da; }
  100% {
    opacity: 1;
    text-shadow: 0 0 7px #e299ab; } }
/*----------------------@keyframe loading page point-------------*/
@keyframes point {
  0% {
    opacity: 1;
    color: #9256dc;
    text-shadow: 0 0 7px #9256dc; }
  50% {
    transform: translateX(96px); }
  90% {
    color: #9256dc;
    text-shadow: none; }
  100% {
    opacity: 1;
    display: none;
    color: #9256dc;
    text-shadow: 0 0 7px #9256dc; } }
/*----------------------@keyframe loading page POINTS-------*/
@keyframes points {
  0% {
    opacity: 1;
    color: #9256dc;
    text-shadow: 0 0 7px #ff79da; }
  50% {
    transform: translateX(-31px); }
  90% {
    color: #ff79da;
    text-shadow: none; }
  100% {
    opacity: 1;
    display: none;
    color: #9256dc;
    text-shadow: 0 0 7px #ff79da; } }
/*----------------------@keyframe Coeur-heart----------------*/
@keyframes fully {
  0% {
    color: #99e2d0; }
  25% {
    color: #ff79da; }
  50% {
    color: #9256dc; }
  75% {
    color: #99e2d0; }
  100% {
    color: #ff79da; } }
/*------------------------@keyframe apparition menu décalé pages---------------*/
@keyframes apparition-menus {
  0% {
    opacity: 0;
    transform: translateY(-5px); }
  10% {
    opacity: 0.1;
    transform: translateY(-4px); }
  20% {
    opacity: 0.2;
    transform: translateY(-3px); }
  30% {
    opacity: 0.3;
    transform: translateY(-2px); }
  40% {
    opacity: 0.4;
    transform: translateY(-1px); }
  50% {
    opacity: 0.5;
    transform: translateY(0); }
  60% {
    opacity: 0.6;
    transform: translateY(1px); }
  70% {
    opacity: 0.7;
    transform: translateY(2px); }
  80% {
    opacity: 0.8;
    transform: translateY(3px); }
  90% {
    opacity: 0.9;
    transform: translateY(4px); }
  100% {
    opacity: 1;
    transform: translateY(5px); } }
/*----------------------@keyframe apparition plats décalé-------------*/
@keyframes apparition-plats {
  0% {
    opacity: 0;
    transform: translateY(-5px); }
  10% {
    opacity: 0.1;
    transform: translateY(-4px); }
  20% {
    opacity: 0.2;
    transform: translateY(-3px); }
  30% {
    opacity: 0.3;
    transform: translateY(-2px); }
  40% {
    opacity: 0.4;
    transform: translateY(-1px); }
  50% {
    opacity: 0.5;
    transform: translateY(0); }
  60% {
    opacity: 0.6;
    transform: translateY(1px); }
  70% {
    opacity: 0.7;
    transform: translateY(2px); }
  80% {
    opacity: 0.8;
    transform: translateY(3px); }
  90% {
    opacity: 0.9;
    transform: translateY(4px); }
  100% {
    opacity: 1;
    transform: translateY(5px); } }
/*--------------------@keyframe coche verte tournante-------------*/
@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*---------header--------*/
.header-index {
  display: flex;
  justify-content: center; }
  .header-index .logo-header {
    display: flex;
    justify-content: center;
    font-family: "Shrikhand", sans-serif; }

header h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: xx-large; }

/*------------------------------------Palette du goût----------------------
--------------------------------------------------------------------------*/
.header-pages-resto .fleche-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: last baseline; }
  .header-pages-resto .fleche-logo .fleche {
    font-size: x-large;
    font-weight: bold; }
    .header-pages-resto .fleche-logo .fleche .align {
      text-decoration: none;
      color: black; }
  .header-pages-resto .fleche-logo .logo {
    margin-right: 2em; }

.footer-logo-txtUn-textDeux-txtTrois-txtQuatre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.9); }
  .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .logo {
    color: white;
    margin: 4%;
    font-family: "Shrikhand", sans-serif; }
    .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .logo p {
      font-size: x-large;
      font-weight: bold; }
  .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre {
    margin-top: -1em; }
    .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn,
    .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color {
      font-family: "Roboto", sans-serif;
      color: white;
      cursor: pointer; }
      .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .icone-hTrois,
      .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .icone-hTrois {
        display: flex;
        justify-content: center; }
        .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .icone-hTrois .icone,
        .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .icone-hTrois .icone {
          margin: 0 0 0 1em; }
        .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .icone-hTrois .span-i,
        .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .icone-hTrois .span-i {
          margin-left: -1.6em; }
      .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .hTrois,
      .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .hTrois {
        margin: 0 0 0 1em; }
      .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .hTrois h3,
      .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .hTrois h3 {
        margin: 0; }
    .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .mail {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      font-size: large;
      font-weight: bold; }

.navigation-index {
  padding: 0;
  margin: 4%;
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif; }
  .navigation-index .titreFonctionnement {
    font-family: "Roboto", sans-serif; }
    .navigation-index .titreFonctionnement h2 {
      font-size: 7vw; }
  .navigation-index .liste-fonctionnement {
    padding: 0;
    counter-reset: liste;
    display: flex;
    flex-direction: column; }
    .navigation-index .liste-fonctionnement .items-fonctionnement {
      background-color: white;
      padding: 4%;
      margin: 4%;
      position: relative;
      border-radius: 1.5em;
      text-align: center;
      list-style-type: none;
      counter-increment: liste;
      box-shadow: 7px 7px 10px #d2cccc;
      cursor: pointer;
      transform: scale(1);
      font-size: 5vw;
      transition: transform 450ms, background-color 300ms; }
      .navigation-index .liste-fonctionnement .items-fonctionnement:hover {
        background-color: #f5edff;
        color: #9256dc;
        border-radius: 10em; }
        .navigation-index .liste-fonctionnement .items-fonctionnement:hover :hover .awesome {
          color: #9256dc; }
      .navigation-index .liste-fonctionnement .items-fonctionnement:before {
        content: counter(liste);
        padding: 1% 3% 1%;
        background-color: #bb95e9;
        border-radius: 50%;
        font-weight: bold;
        font-size: 2.8vh;
        color: white;
        position: absolute;
        left: -3%;
        top: 36%; }
      .navigation-index .liste-fonctionnement .items-fonctionnement .awesome-boutonChoixRestaurant-btn_bg {
        display: flex;
        justify-content: space-evenly; }
        .navigation-index .liste-fonctionnement .items-fonctionnement .awesome-boutonChoixRestaurant-btn_bg .awesome {
          color: #0d0d0e;
          display: flex;
          align-items: center; }
          .navigation-index .liste-fonctionnement .items-fonctionnement .awesome-boutonChoixRestaurant-btn_bg .awesome:hover {
            color: #6653a6; }

/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/
/*-----------------------main html----------------------------------------------*/
.main-index {
  background-color: #f4f4f4;
  padding-bottom: 12%; }
  .main-index .cartes-restaurants {
    font-family: "Roboto", sans-serif; }
    .main-index .cartes-restaurants .titres-cartes-restaurant h2 {
      margin: 0;
      padding: 11% 0 0 2%; }
    .main-index .cartes-restaurants .carte-resto {
      background-color: white;
      margin: 4%;
      padding-bottom: 4%;
      border-radius: 1em; }
      .main-index .cartes-restaurants .carte-resto .img img {
        width: 100%;
        height: 12em;
        object-fit: cover;
        border-radius: 1em 1em 0 0; }
      .main-index .cartes-restaurants .carte-resto .description-like .lien-description-like .lien a {
        text-decoration: none;
        color: black; }
        .main-index .cartes-restaurants .carte-resto .description-like .lien-description-like .lien a .decription-hTrois-p {
          margin: 1% 4%; }
          .main-index .cartes-restaurants .carte-resto .description-like .lien-description-like .lien a .decription-hTrois-p .hTrois h3 {
            margin: 0; }
          .main-index .cartes-restaurants .carte-resto .description-like .lien-description-like .lien a .decription-hTrois-p .p p {
            margin: 0; }

/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/
/*-------------------------restaurant-IMG----------------------------------*/
.restaurant-img {
  margin: 0; }
  .restaurant-img img {
    width: 100%;
    object-fit: cover;
    height: 15em; }

main {
  background-color: whitesmoke; }
  main .la-palette-du-gout {
    background-color: whitesmoke;
    border-radius: 2em 2em 0 0;
    position: relative;
    top: -3em;
    z-index: 1;
    /*--------------------------restaurant-NOM-------------------------*/
    /*--------------------------Titre menu + UNDERLINE-----------------------------*/
    /*----------------------------------UL/LI/DISHES + PRIX ET COCHE VERTE---------------------------------*/ }
    main .la-palette-du-gout .restaurant-name-like {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 1em; }
      main .la-palette-du-gout .restaurant-name-like .restaurant-name h2 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 500; }
    main .la-palette-du-gout .titre-underline {
      text-transform: uppercase;
      margin-left: 6%;
      font-family: "Roboto", sans-serif;
      display: flex;
      flex-direction: column; }
      main .la-palette-du-gout .titre-underline .titre h2 {
        font-weight: lighter;
        margin: 0; }
      main .la-palette-du-gout .titre-underline .underline {
        border-top: 1px solid #99e2d0;
        width: 17%;
        display: inline-block; }
    main .la-palette-du-gout #liste-dishes {
      background-color: white;
      margin: 5%;
      border-radius: 1em;
      transition-duration: 5s;
      animation-name: apparition-menus;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.73, 0.11, 0.46, 0.69); }
      main .la-palette-du-gout #liste-dishes .dishes {
        padding: 0; }
        main .la-palette-du-gout #liste-dishes .dishes .dishes-un {
          list-style-type: none;
          animation-name: apparition-plats;
          animation-duration: 2s;
          animation-timing-function: cubic-bezier(0.69, 0.46, 0.11, 0.73); }
          main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte {
            display: flex;
            justify-content: space-between; }
            main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .presentation {
              font-family: "roboto";
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
              flex-direction: column;
              padding: 1em; }
              main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .presentation .span-ellipsis {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .presentation .weight {
                font-weight: bold; }
            main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte {
              display: flex; }
              main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .prix {
                display: flex;
                align-items: flex-end; }
                main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .prix span {
                  padding: 1em; }
              main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .coche-verte {
                color: white;
                display: flex;
                justify-content: center;
                background-color: #99e2d0;
                width: 0;
                border-radius: 0 15px 15px 0;
                overflow: hidden;
                transition: width 400ms ease-in; }
                main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .coche-verte .icone {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  /*padding-left: 62.5px;*/
                  font-size: xx-large; }
                  main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .coche-verte .icone .fas.fa-check-circle {
                    animation: circle 0.9s cubic-bezier(0.52, 0.14, 0, 1.28);
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards; }
            main .la-palette-du-gout #liste-dishes .dishes .dishes-un .presentation-prix-coche-verte:hover .coche-verte {
              color: white;
              height: 100%;
              width: 5em; }

/*# sourceMappingURL=style.css.map */
