.footer-logo-txtUn-textDeux-txtTrois-txtQuatre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: hsla(0, 0%, 0%, 0.9);

  .logo {
    color: $color-white;
    margin: 6% 4%;
    font-family: "Shrikhand", sans-serif;

    p {
      font-size: 7vw;
      font-weight: bold;
      margin: 0;
    }
  }
  .txtUn-textDeux-txtTrois-txtQuatre {
    .icone-hTrois-txtUn {
      display: flex;
      align-items: baseline;
      color: $color-white;

      .icone-txtUn {
        margin-left: 4vw;
        .fa-utensils{
          font-size: 4vw;
        }
      }
      .hTrois-txtUn h3 {
        margin: 0 7vw;
        font-family: "Roboto", sans-serif;
        font-size: 3vh;
      }
    }
    .icone-hTrois-txtDeux {
      display: flex;
      align-items: baseline;
      color: $color-white;
      font-family: "Roboto", sans-serif;

      .icone-txtDeux {
        margin-left: 4vw;
        .fa-hands-helping{
          font-size: 4vw;
        }
      }
      .hTrois-txtDeux {
        h3 {
          margin: 0 5vw;
          font-size: 3vh;
        }
      }
    }
    #txtTrois{

      .hTrois-txtTrois{

        h3{
          color: $color-white;
          margin: 0 4vw;
          font-family: "roboto", sans-serif;
          font-size: 3vh;
        }
      }
    }
    .mail-txtQuatre{
      color: $color-white;
      font-size: 3vh;
      text-decoration: none;
      font-family: "roboto", sans-serif;
      margin-left: 4vw;
      font-weight: bold;
    }
  }
}
