/*--------------------------coeur clignotant index------------*/

.coeur {
  margin: -21% 6%;
  float: right;
  font-size: 2em;
  cursor: pointer;

  @media (min-width: 360px) and (min-height: 740px) {
    margin: -15% 6%;
    float: right;
    font-size: 2em;
  }
  @media (min-width: 375px) and (min-height: 667px) {
    margin: -16% 1em;
    font-size: 2em;
  }
  @media (min-width: 375px) and (min-height: 812px) {
    margin: -14% 1em;
  }
  @media (min-width: 411px) and (min-height: 731px) {
    margin: -11% 1em;
  }
  @media (min-width: 411px) and (min-height: 823px){

    margin: -14% 1em;
  }
  @media (min-width: 414px) and (min-height: 736px) {
    margin: -11% 1em;
  }
  @media (min-width: 414px) and (min-height: 896px) {
    margin: -7vh 1em;
  }
  @media (min-width: 768px) and (min-height: 1024px) {
    margin: -9vh 6vw;
    font-size: 8vw;
  }
  @media (min-width: 800px) and (min-height: 720px) {
    margin: -9vh 6vw;
    font-size: 7vw;
  }
  @media (min-width: 800px) and (min-height: 1280px) {
    margin: -9vh 6vw;
  }
  @media (min-width: 1000px) and (min-height: 720px) {
    margin: -9vh 6vw;
    font-size: 5vw;
  }
  @media (min-width: 1024px) and (min-height: 1366px) {
    margin: -12vh 6vw;
  }
  @media (min-width: 1280px) and (min-height: 720px) {
    margin: -11% 1em;
  }
  @media (min-width: 1280px) and (min-height: 800px) {
    margin: -9% 1em;
    font-size: 4em;
  }
  @media (min-width: 1280px) and (min-height: 950px) {
    margin: -10vh 6vw;
  }
  @media (min-width: 1440px) and (min-height: 900px) {
    margin: -21% 0.5em;
    font-size: 5em;
  }
  @media (min-width: 1920px) and (min-height: 666px) {
    margin: -4% 6%;
    font-size: 3em;
  }
  @media (min-width: 1920px) and (min-height: 900px){
    margin: -10% 6%;
  }
  @media (min-width: 1920px) and (min-height: 961px) {
    margin: -110% 0.5em;
    font-size: 5em;
  }
  
 
  .empty {
    .far.fa-heart.empty-heart {
      background: linear-gradient(0, $color-secondary, $color-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /*animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;*/
    }
  }
  .full {
    .fas.fa-heart.full-heart {
      background: linear-gradient(0, $color-secondary, $color-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      margin-top: -1.1em;
      z-index: -1;
      position: absolute;
    }
  }

  &:hover .empty {
    /*color: $color-random-color-primary;*/
    background: linear-gradient(0, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: none;
    z-index: 101;
    position: relative;
  }
  &:hover .full {
    font-weight: bold;
    z-index: 101;
    position: absolute;
  }
}

/*-------------------------coeur clignotant pages-----------------*/
.coeurPages {
  font-size: 7vw;
  cursor: pointer;

  .empty {
    .empty-heart {
      color: $color-primary;
      animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
      /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
    }
    & :hover {
      color: $color-random-color-primary;
      z-index: 101;
      position: relative;
    }
  }

  .full {
    .full-heart {
      color: $color-primary-hsla;
      margin-top: -1.1em;
      z-index: 1;
      opacity: 0;
      position: absolute;
      /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
      animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 01) 1.1s infinite;
    }
    & :hover {
      font-weight: bold;
      z-index: 100;
      position: absolute;
      opacity: 1;
    }
  }
}
/*------------------like pages menus---------------*/

