/*--------------------------coeur clignotant index------------*/

.coeur {
  margin: -11vh 6vw;
  float: right;
  font-size: 8vw;
  cursor: pointer;
  @media (min-width: 360px) and (min-height: 740px) {
    margin: -7vh 6vw;
    float: right;
    font-size: 10vw;
  }
  @media (min-width: 375px) and (min-height:667px){
    margin: -8vh 6vw;
  }
  @media (min-width: 375px) and (min-height: 812px) {
    margin: -8vh 6vw;
  }
  @media (min-width: 411px) and (min-height: 731px) {
    margin: -7vh 6vw;
  }
  @media (min-width: 414px) and (min-height: 736px) {
    margin: -8vh 6vw;
  }
  @media (min-width: 414px) and (min-height: 896px) {
    margin: -7vh 6vw;
  }
  @media (min-width: 768px) and (min-height: 1024px) {
    margin: -9vh 6vw;
    font-size: 8vw;
  }
  @media (min-width: 800px) and (min-height: 1280px) {
    margin: -9vh 6vw;
  }
  @media (min-width: 1024px) and (min-height: 1366px){
    
      margin: -12vh 6vw;
    
  }
  @media (min-width: 1280px) and (min-height: 720px){
    margin: -18vh 6vw;
  }
  @media (min-width: 1280px) and (min-height: 800px) {
    margin: -13vh 6vw;
    font-size: 5vw;
  }
  @media (min-width: 1280px) and (min-height: 950px) {
    margin: -10vh 6vw;
  }
  @media (min-width: 1440px) and (min-height: 900px) {
    margin: -13vh 2vw;
    font-size: 5vw;
  }
  @media (min-width: 1920px) and (min-height: 1080px){
    margin: -16vh 2vw;
  }

  .empty {
    .far.fa-heart.empty-heart {
      background: linear-gradient(0, $color-secondary, $color-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /*animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;*/
    }
  }
  .full {
    .fas.fa-heart.full-heart {
      background: linear-gradient(0, $color-secondary, $color-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      margin-top: -1.1em;
      z-index: -1;
      position: absolute;
    }
  }

  &:hover .empty {
    /*color: $color-random-color-primary;*/
    background: linear-gradient(0, $color-secondary, $color-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: none;
    z-index: 101;
    position: relative;
  }
  &:hover .full {
    font-weight: bold;
    z-index: 101;
    position: absolute;
  }
}

/*-------------------------coeur clignotant pages-----------------*/
.coeurPages {
  font-size: 7vw;
  cursor: pointer;
  
    .empty {
      .empty-heart {
        color: $color-primary;
        animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
        /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
      }
      & :hover {
        color: $color-random-color-primary;
        z-index: 101;
        position: relative;
      }
    }

    .full {
      .full-heart {
        color: $color-primary-hsla;
        margin-top: -1.1em;
        z-index: 1;
        opacity: 0;
        position: absolute;
        /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
        animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 01) 1.1s infinite;
      }
      & :hover {
        font-weight: bold;
        z-index: 100;
        position: absolute;
        opacity: 1;
      }
    }
  
}
/*------------------like pages menus---------------*/
.like {
  font-size: x-large;

  .empty-heart {
    color: $color-primary;
    animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
  }
  .full-heart {
    color: $color-primary-hsla;
    margin-top: -1.2em;
    z-index: -1;
    position: absolute;

    animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
  }

  &:hover .full-heart {
    font-weight: bold;
    z-index: 100;
    position: absolute;
  }
  &:hover .empty-heart {
    color: $color-random-color-primary;
    z-index: 101;
    position: relative;
  }
}
