.lien-stickerNew-img {
    .lien {
        .txt-deco-none {
            text-decoration: none;

            .sticker-new {
                position: relative;
                top: 0;
                right: 3vw;
                display: flex;
                justify-content: flex-end;
                @media screen and (min-width: 768px) {
                    position: relative;
                    top: -7vw;
                    display: flex;
                    justify-content: flex-end;
                    right: 1vw;
                }
                @media screen and (min-width:1440px) {
                    top: -1vw;
                    
                }
                
                .sticker {
                    background-color: $color-third;
                    /* position: absolute;*/
                    width: 20vw;
                    z-index: 1;
                    border-radius: 8px;
                    @media screen and (min-width: 768px) {
                        background-color: #99e2d0;
                        width: 13vw;
                        z-index: 1;
                        border-radius: 8px;
                    }

                    .new {
                        display: flex;
                        justify-content: center;
                        color: #008766;
                        font-size: 4vw;
                    }
                }
            }
            .img img {
                height: 21vh;
                width: 100%;
                object-fit: cover;
                border-radius: 1em 1em 0 0;
                @media screen and (min-width: 768px) {
                    width: 100%;
                    height: 21vh;
                    object-fit: cover;
                    border-radius: 1em 1em 0 0;
                }
            }
        }
    }
}
.position-relative .img-resto-relatif {
    img {
        position: relative;
        top: -9vh;
        width: 100%;
        height: 21vh;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
    }
}
