//----------@mixin-----------------
//-------------display-flex---------------
@mixin text-align-center($direction) {
  display: flex;
  flex-direction: $direction;
  text-align: center;
}
@mixin justify-content-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}
@mixin align-items-center($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}
@mixin display-justifyC-alignI($display, $justify, $align) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

//-----------padding-----------------
@mixin padding-margin($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

//----------size & weight---------
@mixin size-weight($unite, $params) {
  font-size: $unite;
  font-weight: $params;
}

//----------border-radius---------
@mixin border-radius($degres) {
  border-radius: $degres;
}

//----------box-shadow-------------
@mixin box-shadow($params) {
  box-shadow: $params;
}

//----------text-deco------
@mixin text-deco($params) {
  text-decoration: $params;
}

@mixin radial-gradient-transparent($X-Y, $color, $X-Y, $color) {
  background-color: radial-gradient(ellipse at $X-Y, $color, transparent),
    radial-gradient(ellipse at $X-Y, $color, transparent);
}

@mixin color($color) {
  color: $color;
}

/***********************heart*****************/
@mixin like {
  font-size: x-large;
  position: absolute;
  left: 82%;
  margin-top: -2em;
}
@mixin empty-heart  {
  color: $color-primary;
  animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
  /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
}
@mixin  full-heart {
  color: $color-primary-hsla;
  margin-top: -1.2em;
  z-index: -1;
  position: absolute;
  /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
  animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
}


/*-----------------------justify content center-----------------------*/
@mixin justify-content-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}
