//----------@mixin-----------------
//-------------display---------------
@mixin text-align-center($direction) {
    display: flex;
    flex-direction: $direction;
    text-align: center;
  }
  @mixin justify-content-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
  }
  //-----------padding & margin----------------
  @mixin padding-margin  ($attributs, $unite){
    padding: $attributs;
    margin: $unite;
  }
  /*@mixin margin ($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right:  $right; 
    margin-bottom: $bottom;
    margin-left:  $left;
  }*/

  @mixin size-weight ($size, $params) {
    font-size: $size;
    font-weight: $params;
  }
  //----------border-radius---------
  @mixin border-radius ($degres) {
    border-radius: $degres;
  }
  //----------box-shadow-------------
  @mixin box-shadow ($params) {
    box-shadow: $params;
  }