//--------VARIABLES--------------------
//------------color-------------
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-third: #99e2d0;
$third-complementary-color:#e299ab;
$color-search: #eaeaea;
$color-background: #f6f6f6;
$color-black: black;
$color-white: white;
$cd-btn-start: rgba(147, 86, 220, 0);
$cd-btn-end: rgba(147, 86, 220, 1);
//----------padding-------------------
$padding: 7% 0 0% 7%;
//-----------box-shadow---------------------
$box-shadow-grey-around: 7px 7px 10px #d2cccc;
$box-shadow-grey-up: 1px -1px 1px $color-background;
//---------------text-deco---------------
/* $text-deco: (text-decoration: none, )
$text-deco: none;*/