//--------VARIABLES--------------------
//------------color-------------
$color-primary: #9256dc;
$color-primary-hsla: hsla(267, 66%, 60%,0.5);
$color-secondary: rgb(255, 121, 218);
$color-third: rgb(153, 226, 208);
$color-third-complementary-color:rgb(226, 153, 171);
$color-search: #eaeaea;
$color-background: hsl(0, 0%, 96%);
$color-black: black;
$color-white: white;


$color-random-color-primary: rgb(random(147),random(86),random(220));
$color-random-color-secondary: rgb(random(255), random(121), random(218));
$color-random-color-third: rgb(random(153), random(226), random(208));
$color-random-third-complementary-color:rgb(random(226), random(153), random(171));
$cd-btn-start: rgba(147, 86, 220, 0);
$cd-btn-end: rgba(147, 86, 220, 1);
//----------padding-------------------
$padding: 7% 0 0% 7%;
//-----------box-shadow---------------------
$box-shadow-grey-around: 7px 7px 10px #d2cccc;
$box-shadow-grey-up: 1px -1px 1px $color-background;

