/*----------footer---------*/
footer {
  background-color: #222121;
  color: rgb(223, 219, 219);
  
  & p {
    @include padding-margin (5%, 0);
    font-family: "Shrikhand", sans-serif;
  }
  & ul {
    list-style-type: none;
    @include padding-margin (5%, 0);
    display: flex;
    flex-direction: column;
  }
  & li {
    margin: 1%;
    font-family: "Roboto", sans-serif;
  }
  
}
.text-deco-none-footer{
  @include text-deco(none);
  color: $color-search;
  
}
