/*---------header--------*/
header{
    /*display: flex;
    justify-content: center;*/
}
header  h1 {
      font-family: "Shrikhand", sans-serif;
      font-size: xx-large;
      
    
  }

/*------------------------------------Palette du goût----------------------
--------------------------------------------------------------------------*/
.fleche-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: last baseline;
  }
  .fleche{
   
    font-size: x-large;
    font-weight: bold;
  }



.align{
   
    text-decoration: none;
   
    color: black;
}