button {
    background: linear-gradient($color-secondary, $color-primary);
  
    @include border-radius(37px);
    color: white;
  
    border: none;
    @include box-shadow($box-shadow-grey-around);
  
    @include padding-margin (8%, 10% 0 15% 0);
  
    & span {
      color: white;
      font-weight: bold;
    }
   
     
  }
  #centre{
    @include display-justifyC-alignI (flex, center, unset);
  }