/*----------------bouton rose INDEX + PAGES-----------------*/


  .submit-bouton {
    display: flex;
    justify-content: center;

    .bouton-rose {
      margin-top: 2em;
      box-shadow: $box-shadow-grey-around;
      border-radius: 3em;
      .texte-bouton-rose {
        border: none;
        background: linear-gradient($color-secondary, $color-primary);
        font-family: roboto;
        letter-spacing: 1px;
        color: $color-white;
        cursor: pointer;
        border-radius: 3em;
        height: 3em;
        padding: 0 2em;
        font-size: 3.5vw;
      }
    }
  }
/*--------------------------------*/