/*.loading{
  
    
    background: radial-gradient(circle at center, #9356DC 0%, #FF79DA  100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    

}
circle{

    
    fill: none;
    stroke: #99E2D0;
    stroke-width: 10px;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 70;
    -webkit-animation: rotation 2000ms ease-in-out alternate infinite;
            animation: rotation 2000ms ease-in-out alternate infinite;
}

circle::after {
    content: '';
    animation: rotation 2000ms ease-in-out alternate infinite;
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    opacity: 0;
  }

 circle.is-loading {
    color: transparent;
  }

circle.is-loading::after {
    opacity: 1;
  }

@-webkit-keyframes rotation {
    0%{
        opacity: 1;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
    }
    100%{
        opacity: 0;
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
    }
}


@keyframes rotation {
    0%{
        opacity: 1;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
    }
    100%{
        opacity: 0;
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
        display: none;
    }
}*/
/*.fix-load{
    background: radial-gradient(circle at center, #9356DC 0%, #FF79DA  100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}*/
/*.loader{
	background:  rgba(168, 19, 19, 0.8);
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

	.loader p{
		background: none;
		border: none;
		color: #458976;
		font-size: 22px;
		font-family: "Open Sans",sans-serif;
		font-variant: small-caps;
		font-weight: 700;
		height: 700px;
		line-height: 700px;
		margin: 0 0 10px;
		padding: 0;
		text-align: center;
	}

    .fix-load{
    
        background: radial-gradient(circle at bottom, #9356DC 0%, #FF79DA  100%);
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loader{
        
        fill: none;
        stroke: #99E2D0;
        stroke-width: 10px;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
        -webkit-animation: rotation 2000ms ease-in-out alternate infinite;
                animation: rotation 2000ms ease-in-out alternate infinite;
    }
    
    
    
    @-webkit-keyframes rotation {
        0%{
            stroke-dasharray: 100 100;
            stroke-dashoffset: 70;
        }
        100%{
            stroke-dasharray: 20 20;
            stroke-dashoffset: -600;
        }
    }
    
    
    @keyframes rotation {
        0%{
            
            stroke-dasharray: 100 100;
            stroke-dashoffset: 70;
        }
        100%{
           
            stroke-dasharray: 20 20;
            stroke-dashoffset: -600;
            display: none;
        }
    }

.section {
    width: auto;
  height: 150px;
  line-height: 150px;
  background-color: #40e0d0;
}
/*loader{
	background:  rgba(168, 19, 19, 0.8);
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.loader {
 width: 150px;
 height: 150px;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  z-index: 350;
}
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba($color: #e46e6e, $alpha: 0.4);
}
.loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-radius: 50px;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}*/
