
/*.conteneur{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  width: 142px;
  height: 48px;
  background-color: rgb(255, 254, 254);
  /* 20=2000%
  filter: contrast(20);
  z-index: 1;
  animation: load 0s 2s forwards;
  
}
.conteneur .dot
{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  border-radius: 50%;
  background-color: black;
  animation: point 3s infinite;
  z-index: -10;

}

.conteneur .dots span{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background-color:rgb(17, 17, 16) ;
  border-radius: 50%;
}
.conteneur .dots{
  margin-top: 12px;
  margin-left: 31px;
  animation: points 3s infinite;
}
@keyframes point {
  0%{
      opacity: 1;
  }
  50%{
      transform: translateX(96px);
  }
  100%{
      opacity: 0;
      display: none;
  }
}
@keyframes points{
  0%{
      opacity: 1;
  }
  50%{
      transform: translate(-31px);
  }
  100%{
      opacity: 0;
      display: none;
  }
}
@keyframes load {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
    z-index: -1;
  }*/







.section-1 {
  background: radial-gradient(circle at bottom, $color-primary 10%, $color-secondary 90%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  
  position: fixed;
  top: 0;
  left: 0;

  color: $color-third;
  width: 100%;

  z-index: 1;
  animation: load-1 0s 2s forwards;
  & span{
    font-family: "Shrikhand", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
}

.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lettre{
  color: $color-primary;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 1.2s linear infinite;
}
@keyframes flash {
  0%{
    color: $color-secondary;
    text-shadow: 0 0 7px $color-secondary ;
  }
  90%{
    color: $color-primary;
    text-shadow: none;

  }
  100%{
    color:$color-secondary ;
    text-shadow: 0 0 7px $color-secondary;
  }
}
.lettre:nth-child(1){
  animation-delay: 0.1s;

}
.lettre:nth-child(2){
  animation-delay: 0.2s;
  
}
.lettre:nth-child(3){
  animation-delay: 0.3s;
  
}
.lettre:nth-child(4){
  animation-delay: 0.4s;
  
}
.lettre:nth-child(5){
  animation-delay: 0.5s;
  
}
.lettre:nth-child(6){
  animation-delay: 0.6s;
  
}
.lettre:nth-child(7){
  animation-delay: 0.7s;
  
}
.lettre:nth-child(8){
  animation-delay: 0.8s;
  
}


.conteneur{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  width: 142px;
  height: 48px;
  background-color: radial-gradient(circle at bottom, $color-primary 0%, $color-secondary 100%);
  /* 20=2000%*/
  filter: contrast(2);
  z-index: 1;
  animation: load-2 0s 2s forwards;
  
}
.conteneur .dot
{
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(3px);
  border-radius: 50%;
  background-color: $color-third;
  animation: point 3s infinite;
  z-index: -10;

}

.conteneur .dots span{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(3px);
  background-color:$color-third;
  border-radius: 50%;
  z-index: -10;
}
.conteneur .dots{
  margin-top: 12px;
  margin-left: 31px;
  animation: points 3s infinite;
}

/*
circle {
  fill: none;
  stroke: $color-third-complementary-color;
  stroke-width: 10px;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 70;
  -webkit-animation: rotation 2000ms ease-in-out alternate infinite;
  animation: rotation 2000ms ease-in-out alternate infinite;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 5s;
  z-index: -10;
  width: 100vh;
}*/
@keyframes point {
  0%{
      opacity: 1;
  }
  50%{
      transform: translateX(96px);
  }
  100%{
      opacity: 0;
      display: none;
  }
}
@keyframes points{
  0%{
      opacity: 1;
  }
  50%{
      transform: translateX(-31px);
  }
  100%{
      opacity: 0;
      display: none;
  }
}
@keyframes load-1 {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
    z-index: -100;
  }
}
  /*@keyframes load-2 {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      display: none;
      z-index: -100;
    }
  /*
@-webkit-keyframes rotation {
  0% {
    stroke-dasharray: 100 100;
    stroke-dashoffset: 70;
  }
  100% {
    stroke-dasharray: 20 20;
    stroke-dashoffset: -600;
  }
}

@keyframes rotation {
  0% {
    stroke-dasharray: 100 100;
    stroke-dashoffset: 70;
  }
  100% {
    stroke-dasharray: 20 20;
    stroke-dashoffset: -600;
    display: none;
  }
}
@keyframes load {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
    z-index: -1;
  }
}*/















/*.loading{
  
    
    background: radial-gradient(circle at center, #9356DC 0%, #FF79DA  100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    

}
circle{

    
    fill: none;
    stroke: #99E2D0;
    stroke-width: 10px;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 70;
    -webkit-animation: rotation 2000ms ease-in-out alternate infinite;
            animation: rotation 2000ms ease-in-out alternate infinite;
}

circle::after {
    content: '';
    animation: rotation 2000ms ease-in-out alternate infinite;
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    opacity: 0;
  }

 circle.is-loading {
    color: transparent;
  }

circle.is-loading::after {
    opacity: 1;
  }

@-webkit-keyframes rotation {
    0%{
        opacity: 1;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
    }
    100%{
        opacity: 0;
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
    }
}


@keyframes rotation {
    0%{
        opacity: 1;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
    }
    100%{
        opacity: 0;
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
        display: none;
    }
}
/*.fix-load{
    background: radial-gradient(circle at center, #9356DC 0%, #FF79DA  100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}*/
/*.loader{
	background:  rgba(168, 19, 19, 0.8);
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

	.loader p{
		background: none;
		border: none;
		color: #458976;
		font-size: 22px;
		font-family: "Open Sans",sans-serif;
		font-variant: small-caps;
		font-weight: 700;
		height: 700px;
		line-height: 700px;
		margin: 0 0 10px;
		padding: 0;
		text-align: center;
	}

    .fix-load{
    
        background: radial-gradient(circle at bottom, #9356DC 0%, #FF79DA  100%);
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loader{
        
        fill: none;
        stroke: #99E2D0;
        stroke-width: 10px;
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
        -webkit-animation: rotation 2000ms ease-in-out alternate infinite;
                animation: rotation 2000ms ease-in-out alternate infinite;
    }
    
    
    
    @-webkit-keyframes rotation {
        0%{
            stroke-dasharray: 100 100;
            stroke-dashoffset: 70;
        }
        100%{
            stroke-dasharray: 20 20;
            stroke-dashoffset: -600;
        }
    }
    
    
    @keyframes rotation {
        0%{
            
            stroke-dasharray: 100 100;
            stroke-dashoffset: 70;
        }
        100%{
           
            stroke-dasharray: 20 20;
            stroke-dashoffset: -600;
            display: none;
        }
    }

.section {
    width: auto;
  height: 150px;
  line-height: 150px;
  background-color: #40e0d0;
}
/*loader{
	background:  rgba(168, 19, 19, 0.8);
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.loader {
 width: 150px;
 height: 150px;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  z-index: 350;
}
.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba($color: #e46e6e, $alpha: 0.4);
}
.loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border: 6px solid transparent;
  border-radius: 50px;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#demo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  background-color: aquamarine;
 
}
#custom-loading-spinner {
  cursor: progress;
  position: absolute;
  width: 100%;
  height: 100%;
  p .message{
    font-size: xx-large;
    color: brown;
   font-weight: bold;
  }
}
#custom-loading-spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -20;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0;
}
#custom-loading-spinner::after {
  box-sizing: border-box;
  z-index: -10;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: custom-loading 1s linear infinite;
  animation-iteration-count: 3;
}
@keyframes custom-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/
