/*--------search---------*/
.rechercher {
    font-family: "Roboto", sans-serif;
    @include justify-content-center(column);
    margin-top: -2%;
  }
  #textes {
    @include text-align-center (column);
    background-color: $color-background;
    & #centre {
      @include padding-margin(10%, 0);
    }
  }
  
  #search {
    @include justify-content-center(row);
    background-color: $color-search;
    @include padding-margin(4%, 0);
    /*plusieurs mixin dans un selecteur???*/
    @include box-shadow($box-shadow-grey-up);
    & input {
      border: none;
      background-color: $color-search;
      @include text-align-center(column);
    }
    & #site-search .icone {
      display: flex;
    }
  }