@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
/*--------general--------*/
body {
  margin: 0; }

/*---------header--------*/
header {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 3px 5px 1px #222121; }
  header p {
    font-family: "Shrikhand", sans-serif;
    font-size: xx-large;
    margin-top: 1.5em; }

/*--------search---------*/
.rechercher {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2%; }
  .rechercher h1 {
    font-size: x-large;
    text-align: center; }
  .rechercher .centre {
    text-align: center; }
  .rechercher button {
    background: linear-gradient(#ff79da, #9356dc);
    width: 76%;
    height: 4em;
    border-radius: 35px;
    color: white;
    font-size: medium;
    border: none;
    margin-top: 6%;
    box-shadow: 7px 7px 10px #d2cccc; }
  .rechercher aside {
    background-color: #f2f2f2;
    height: 19em;
    width: auto; }
  .rechercher .font {
    font-weight: bold;
    font-size: 1em; }

.container-recherche {
  width: 100%;
  background-color: #eaeaea;
  text-align: center;
  height: 3em;
  display: flex;
  justify-content: center;
  box-shadow: 15px 25px 6px 28px #cfcfcf; }
  .container-recherche input {
    border: none;
    background-color: #eaeaea;
    text-align: center;
    font-weight: bold; }
  .container-recherche .icone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eaeaea; }

/*--------NAV---------*/
#navigation {
  padding: 7% 0 0% 7%;
  font-family: "Roboto", sans-serif; }
  #navigation ol {
    padding: 0;
    counter-reset: liste; }
  #navigation li {
    background-color: #fff;
    padding: 4% 0 4% 7px;
    position: relative;
    margin-bottom: 4%;
    width: 89%;
    border-radius: 1.5em;
    text-align: center;
    list-style-type: none;
    counter-increment: liste;
    box-shadow: 7px 7px 10px #d2cccc; }
  #navigation li:before {
    content: counter(liste);
    padding: 1% 3% 1%;
    background-color: #9356dc;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    position: absolute;
    left: -3%;
    top: 31%; }
  #navigation i {
    padding: 3% 3% 3% 0%; }

/*---------corps du site--------*/
main {
  background-color: #f2f2f2;
  padding-bottom: 10%; }

/*---------restaurants---------*/
section a {
  text-decoration: none;
  color: black; }

.restaurants h2 {
  padding: 7% 0 0% 7%;
  font-family: "Roboto", sans-serif; }

figure {
  background-color: white;
  margin: 12% 7% 7% 7%;
  border-radius: 0 0 4% 4%; }
  figure img {
    width: 100%;
    height: 10em;
    border-radius: 4% 4% 0 0; }

.like {
  position: absolute;
  right: 10%;
  margin-top: -2.4em;
  font-size: x-large;
  margin-right: 0.5em; }

.description {
  padding-left: 1em;
  font-family: "Roboto", sans-serif;
  margin-top: 4%; }
  .description p {
    padding-bottom: 1em;
    margin: 0; }
  .description h3 {
    margin: 0; }

/*----------footer---------*/
footer {
  background-color: #222121;
  color: #dfdbdb;
  height: 12em;
  margin-top: -5%; }
  footer p {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    padding: 7% 0 0% 7%;
    font-family: "Shrikhand", sans-serif; }
  footer ul {
    list-style-type: none;
    padding: 0 0 5% 7%; }
  footer li {
    margin: 1%;
    font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=style.css.map */
