@charset "UTF-8";
/*$color-primary-palette: (
  primary: $color-primary,
  primary-random: $color-random-color-primary,
  primary-secondary-linear-gradient: linear-gradient($colour-primary,$color-secondary),
  secondary-primary-linear-gradient: linear-gradient($color-secondary, $colour-primary),)

  @mixin primary-secondary-bg-radial-gradient-circle ($param) {

 background-color: radial-gradient(circle at $param, $param, $param)
}

 background: radial-gradient(circle at bottom, #9356DC 0%, #FF79DA  100%);
      bg: $colour-primary,
    bg-random:
    circle: $colour-primary,
    circle-random:
    txt:
txt-random: $colour-white,
  ),
  random: (
      bg: $colour-primary,
      border: $colour-primary,
      txt: $colour-white,
  ),
  linear: (
      bg: $colour-invalid,
      border: $colour-white,
      txt: $colour-white,
  )
  circle:(

  )
);*/
/* $text-deco: (text-decoration: none, )
$text-deco: none;*/
/*
$section:".section-1";

%theme {
  @if ($section <= $duration){
    .section-2{
      display: none;
    }
    
}
@else {
  .section-2{
    display: flex;
  }
}
}
$i: 1s;

@for $i from 1 to 3{

}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand");
.rechercher, form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*--------general--------*/
body {
  margin: 0;
  padding: 0; }

/*--------search---------*/
.rechercher {
  font-family: "Roboto", sans-serif;
  margin-top: -2%; }

#textes {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6; }
  #textes #centre {
    padding: 10%;
    margin: 0; }

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  padding: 4%;
  margin: 0;
  box-shadow: 1px -1px 1px #f6f6f6; }
  #search input {
    border: none;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    text-align: center; }
  #search #site-search .icone {
    display: flex; }

/*& h2 {
      font-size: x-large;
      text-align: center;
    }
    & 
    & 
    section {
      background-color: #f2f2f2;
      height: 19em;
      width: auto;
    }
    & .font {
      font-weight: bold;
      font-size: 1em;
    }
  }*/
form {
  background-color: #eaeaea;
  /*box-shadow: 15px 25px 6px 28px #cfcfcf;*/ }

/* & .icone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-search;
    }
    &
    
  }*/
form {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*@import "../sass/componants/button";*/
#loading-page {
  background: radial-gradient(circle at center, #99e2d0 10%, #9256dc 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: #99e2d0;
  width: 100%;
  z-index: 1000000;
  animation: load-1 3s 3s cubic-bezier(1, 0.02, 0, 1.28) forwards; }
  #loading-page span {
    font-family: "Shrikhand", "Roboto", Arial, Helvetica, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center; }
@keyframes load-1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none;
    z-index: -100; } }
  #loading-page .loader-letters {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #loading-page .lettre {
    font-size: 35px;
    letter-spacing: 10px;
    margin-bottom: 150px;
    animation: flash 1.9s cubic-bezier(0.52, 0.14, 1, 1.28) infinite; }
@keyframes flash {
  0% {
    color: #99e2d0;
    /*@include radial-gradient-transparent(top,$color-primary, $color-primary 10%, bottom,$color-secondary, $color-secondary 90%);*/
    text-shadow: 0 0 7px #ff79da; }
  90% {
    color: #ff79da;
    /*@include radial-gradient-transparent(bottom,$color-secondary, $color-primary 10%, top,$color-primary, $color-secondary 90%);*/
    text-shadow: #85ad59; }
  100% {
    color: #9256dc;
    text-shadow: 0 0 7px #9256dc;
    /*$color-secondary;*/
    /*@include radial-gradient-transparent(top,$color-primary, $color-primary 10%, bottom,$color-secondary, $color-secondary 90%);*/ } }
  #loading-page .lettre:nth-child(1) {
    animation-delay: 0.30s; }
  #loading-page .lettre:nth-child(2) {
    animation-delay: 0.40s; }
  #loading-page .lettre:nth-child(3) {
    animation-delay: 0.50s; }
  #loading-page .lettre:nth-child(4) {
    animation-delay: .6s; }
  #loading-page .lettre:nth-child(5) {
    animation-delay: .7s; }
  #loading-page .lettre:nth-child(6) {
    animation-delay: .8s; }
  #loading-page .lettre:nth-child(7) {
    animation-delay: 0.9s; }
  #loading-page .lettre:nth-child(8) {
    animation-delay: 0.99s; }
  #loading-page .lettre-1 {
    color: #9256dc;
    text-shadow: 0 0 7px #46488f;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-2 {
    color: #ff79da;
    text-shadow: 0 0 7px #ff79da;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-3 {
    color: #99e2d0;
    text-shadow: 0 0 7px #9256dc;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-4 {
    color: #9256dc;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-5 {
    color: #ff79da;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-6 {
    color: #99e2d0;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-7 {
    color: #9256dc;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
  #loading-page .lettre-8 {
    color: #ff79da;
    text-shadow: 0 0 7px #99e2d0;
    animation: lettres 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite reverse; }
@keyframes lettres {
  0% {
    opacity: 1;
    text-shadow: 0 0 7px #9256dc; }
  25% {
    opacity: 1;
    text-shadow: 0 0 7px #99e2d0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1;
    text-shadow: 0 0 7px #ff79da; }
  100% {
    opacity: 1;
    text-shadow: 0 0 7px #e299ab; } }
  #loading-page .dot-dots {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
    width: 142px;
    height: 48px;
    background-color: radial-gradient(circle at bottom, #ff79da 10%, #ff79da 100%);
    /* 20=2000%*/
    filter: contrast(1000);
    z-index: 1;
    animation: load-2 3s 3s forwards; }
  #loading-page .dot-dots .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(3px);
    border-radius: 50%;
    background-color: #31039d;
    animation: point 5s cubic-bezier(0.67, 0.12, 0.5, 1.3) infinite;
    z-index: -10; }
  #loading-page .dot-dots .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(3px);
    background-color: #31039d;
    border-radius: 50%;
    z-index: -10; }
  #loading-page .dot-dots .dots {
    margin-top: 12px;
    margin-left: 31px;
    animation: points 4s cubic-bezier(0.67, 0.12, 0.5, 1.3) infinite; }
@keyframes point {
  0% {
    opacity: 1;
    color: #9256dc;
    text-shadow: 0 0 7px #9256dc; }
  50% {
    transform: translateX(96px); }
  90% {
    color: #9256dc;
    text-shadow: none; }
  100% {
    opacity: 1;
    display: none;
    color: #9256dc;
    text-shadow: 0 0 7px #9256dc; } }
@keyframes points {
  0% {
    opacity: 1;
    color: #9256dc;
    text-shadow: 0 0 7px #ff79da; }
  50% {
    transform: translateX(-31px); }
  90% {
    color: #ff79da;
    text-shadow: none; }
  100% {
    opacity: 1;
    display: none;
    color: #9256dc;
    text-shadow: 0 0 7px #ff79da; } }
/*---------header--------*/
header {
  /*display: flex;
  justify-content: center;*/ }

/*
header  h1 {
      font-family: "Shrikhand", sans-serif;
      font-size: xx-large;
      
    
  }*/
/*------------------------------------Palette du goût----------------------
--------------------------------------------------------------------------*/
.fleche-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: last baseline; }

.fleche {
  font-size: x-large;
  font-weight: bold; }

.align {
  text-decoration: none;
  color: black; }

/*----------footer---------*/
/*footer {
    background-color: #222121;
    color: rgb(223, 219, 219);
    height: 12em;
    margin-top: -5%;*/
  /*& p {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    padding: $padding;
    font-family: "Shrikhand", sans-serif;
  }
  & ul {
    list-style-type: none;
    padding: 0 0 5% 7%;
  }
  & li {
    margin: 1%;
    font-family: "Roboto", sans-serif;
  }
}*/
/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------Palette du goût "section MAIN"----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Palette du goût "section MAIN"----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Palette du goût "section MAIN"----------------------
--------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*-------------------------restaurant-IMG----------------------------------*/
  /*--------------------------------LA PALETTE DU GOUT----------------------------------------*/
  /*--------------------------------LA PALETTE DU GOUT----------------------------------------*/ }
  body .restaurant-img {
    margin: 0; }
    body .restaurant-img img {
      width: 100%;
      object-fit: cover; }
  body main {
    background-color: #f6f6f6; }
    body main .la-palette-du-gout {
      background-color: #f6f6f6;
      border-radius: 2em 2em 0 0;
      position: relative;
      top: -3em;
      z-index: 1;
      /*--------------------------restaurant-NOM-------------------------*/
      /*--------------------------Titre menu + UNDERLINE-----------------------------*/
      /*----------------------------------UL/LI/DISHES + PRIX ET COCHE VERTE---------------------------------*/ }
      body main .la-palette-du-gout .restaurant-name-like {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 1em;
        /*---------------------------------coeur animé---------------------------------*/ }
        body main .la-palette-du-gout .restaurant-name-like .restaurant-name h2 {
          font-family: "Shrikhand", sans-serif; }
        body main .la-palette-du-gout .restaurant-name-like .like {
          font-size: x-large; }
          body main .la-palette-du-gout .restaurant-name-like .like .empty-heart {
            color: #9256dc;
            animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite;
            /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/ }
          body main .la-palette-du-gout .restaurant-name-like .like .full-heart {
            color: rgba(146, 86, 220, 0.5);
            margin-top: -1.2em;
            z-index: -1;
            position: absolute;
            /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
            animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.1s infinite; }
          body main .la-palette-du-gout .restaurant-name-like .like:hover .full-heart {
            font-weight: bold;
            z-index: 100;
            position: absolute; }
          body main .la-palette-du-gout .restaurant-name-like .like:hover .empty-heart {
            color: #31039d;
            z-index: 101;
            position: relative; }
@keyframes fully {
  0% {
    color: #99e2d0; }
  25% {
    color: #ff79da; }
  50% {
    color: #9256dc; }
  75% {
    color: #99e2d0; }
  100% {
    color: #ff79da; } }
      body main .la-palette-du-gout .titre-underline {
        text-transform: uppercase;
        margin-left: 6%;
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column; }
        body main .la-palette-du-gout .titre-underline .titre h2 {
          font-weight: lighter;
          margin: 0; }
        body main .la-palette-du-gout .titre-underline .underline {
          border-top: 1px solid #99e2d0;
          width: 17%;
          display: inline-block; }
      body main .la-palette-du-gout #liste-dishes {
        background-color: white;
        margin: 5%;
        border-radius: 1em;
        transition-duration: 5s;
        animation-name: apparition-menus;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.73, 0.11, 0.46, 0.69); }
@keyframes apparition-menus {
  0% {
    opacity: 0;
    transform: translateY(-5px); }
  10% {
    opacity: 0.1;
    transform: translateY(-4px); }
  20% {
    opacity: 0.2;
    transform: translateY(-3px); }
  30% {
    opacity: 0.3;
    transform: translateY(-2px); }
  40% {
    opacity: 0.4;
    transform: translateY(-1px); }
  50% {
    opacity: 0.5;
    transform: translateY(0); }
  60% {
    opacity: 0.6;
    transform: translateY(1px); }
  70% {
    opacity: 0.7;
    transform: translateY(2px); }
  80% {
    opacity: 0.8;
    transform: translateY(3px); }
  90% {
    opacity: 0.9;
    transform: translateY(4px); }
  100% {
    opacity: 1;
    transform: translateY(5px); } }
      body main .la-palette-du-gout .dishes {
        padding: 0; }
        body main .la-palette-du-gout .dishes .dishes-un {
          list-style-type: none;
          animation-name: apparition-plats;
          animation-duration: 2s;
          animation-timing-function: cubic-bezier(0.69, 0.46, 0.11, 0.73); }
@keyframes apparition-plats {
  0% {
    opacity: 0;
    transform: translateY(-5px); }
  10% {
    opacity: 0.1;
    transform: translateY(-4px); }
  20% {
    opacity: 0.2;
    transform: translateY(-3px); }
  30% {
    opacity: 0.3;
    transform: translateY(-2px); }
  40% {
    opacity: 0.4;
    transform: translateY(-1px); }
  50% {
    opacity: 0.5;
    transform: translateY(0); }
  60% {
    opacity: 0.6;
    transform: translateY(1px); }
  70% {
    opacity: 0.7;
    transform: translateY(2px); }
  80% {
    opacity: 0.8;
    transform: translateY(3px); }
  90% {
    opacity: 0.9;
    transform: translateY(4px); }
  100% {
    opacity: 1;
    transform: translateY(5px); } }
          body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte {
            display: flex;
            justify-content: space-between; }
            body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .presentation {
              font-family: "roboto";
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
              flex-direction: column;
              padding: 1em; }
              body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .presentation .span-ellipsis {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
              body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .presentation .weight {
                font-weight: bold; }
            body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte {
              display: flex; }
              body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .prix {
                display: flex;
                align-items: flex-end; }
                body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .prix span {
                  padding: 1em; }
              body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .coche-verte {
                color: white;
                display: flex;
                justify-content: center;
                background-color: #99e2d0;
                width: 0;
                border-radius: 0 15px 15px 0;
                overflow: hidden;
                transition: width 400ms ease-in; }
                body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .coche-verte .icone {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  /*padding-left: 62.5px;*/
                  font-size: xx-large; }
                  body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte .prix-coche-verte .coche-verte .icone .fas.fa-check-circle {
                    animation: circle 0.9s cubic-bezier(0.52, 0.14, 0, 1.28);
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards; }
@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
            body main .la-palette-du-gout .dishes .dishes-un .presentation-prix-coche-verte:hover .coche-verte {
              color: white;
              height: 100%;
              width: 5em; }
    body main .bouton-interactif {
      display: flex;
      justify-content: center; }
      body main .bouton-interactif .bouton {
        background: linear-gradient(#ff79da, #9256dc);
        border-radius: 37px;
        color: white;
        border: none;
        box-shadow: 7px 7px 10px #d2cccc;
        padding: 8% 19% 8% 19%;
        margin: 4% 0 15% 0; }
        body main .bouton-interactif .bouton span {
          color: white;
          font-weight: bold;
          background: linear-gradient(#ff79da, #9256dc);
          letter-spacing: 0.23em; }
        body main .bouton-interactif .bouton button,
        body main .bouton-interactif .bouton .commander {
          background: linear-gradient(#ff79da, #9256dc);
          border: none;
          border-radius: 31em; }
  body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.5); }
    body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .logo {
      color: white;
      margin: 4%;
      font-family: "Shrikhand", sans-serif; }
      body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .logo p {
        font-size: x-large;
        font-weight: bold; }
    body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre {
      margin-top: -1em; }
      body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn,
      body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color {
        font-family: "Roboto", sans-serif;
        color: white;
        cursor: pointer; }
        body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .icone-hTrois,
        body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .icone-hTrois {
          display: flex;
          justify-content: center; }
          body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .icone-hTrois .icone,
          body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .icone-hTrois .icone {
            margin: 0 0 0 1em; }
          body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .icone-hTrois .span-i,
          body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .icone-hTrois .span-i {
            margin-left: -1.6em; }
        body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .hTrois,
        body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .hTrois {
          margin: 0 0 0 1em; }
        body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .txtUn .hTrois h3,
        body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .color .hTrois h3 {
          margin: 0; }
      body .footer-logo-txtUn-textDeux-txtTrois-txtQuatre .txtUn-textDeux-txtTrois-txtQuatre .mail {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: large;
        font-weight: bold; }

/*--------NAV---------*/
#navigation {
  padding: 0;
  margin: 4%;
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif; }
  #navigation ol {
    padding: 0;
    counter-reset: liste; }
  #navigation li {
    background-color: white;
    padding: 4%;
    margin: 4%;
    position: relative;
    border-radius: 1.5em;
    text-align: center;
    list-style-type: none;
    counter-increment: liste;
    box-shadow: 7px 7px 10px #d2cccc;
    cursor: pointer;
    transform: scale(1);
    transition: transform 450ms, background-color 300ms; }
    #navigation li:hover {
      transform: scale(1.05);
      background: linear-gradient(#ff79da, #9256dc);
      /* background-color: linear-gradient($color-random-color-secondary, $color-third);
        color: darken($color-random-color-third, 35);*/
      color: #4104cf;
      transition: background-color 250ms; }
  #navigation li:before {
    content: counter(liste);
    padding: 1% 3% 1%;
    background-color: #bb95e9;
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    position: absolute;
    left: -3%;
    top: 31%; }
  #navigation i {
    padding: 3%;
    margin: 0;
    color: #acabab; }
    #navigation i:hover {
      color: #4104cf; }

.btn {
  border-radius: 2rem;
  background-color: white;
  position: relative;
  z-index: -1; }
  .btn:hover .btn_bg {
    opacity: 1; }
  .btn_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f9e8ec;
    opacity: 0;
    z-index: -1;
    transition: opacity 550ms;
    border-radius: 2rem; }
  .btn .fa-li {
    left: 0; }

.text-deco-none {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center; }

/*----------------------------------------------------------------------------case coche verte page1.html*/
/*-------------------menu pages haut en bas------------------------------*/
 /*navigation et liste

.navi{
    height: 100vh;
    position: fixed;
    width: 0;
    opacity: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navigation-liste{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
text-align: center;
width: 100%;
}

.liens{
    display: inline-block;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 300;
    color: rgb(28, 129, 218);
    text-decoration: none;
    text-transform: uppercase;
}

.navigation:hover:active ~ .navi{
    opacity: 1;
    width: 100%;
}*/

/*# sourceMappingURL=style.css.map */
