main {
  background-color: #f2f2f2;
 

  & .restaurants-img {
    width: 100%;
    height: 13em;
    object-fit: cover;
  }
}

/*---------restaurants INDEX---------*/
section a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}

.restaurant {
  padding-top: 6%;
  border-radius: 25px 25px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  margin-top: -11%;

  h2 {
    @include padding-margin(4%, 0);
    font-family: "Roboto", sans-serif;
  }
}
figure {
  background-color: white;
  @include padding-margin(0, 4%);
  border-radius: 0 0 4% 4%;

  & img {
    width: 100%;
    height: 10em;
    border-radius: 4% 4% 0 0;
    object-fit: cover;
  }
}

.like {
  position: absolute;
  right: 6%;
  margin-top: -2.4em;
  font-size: x-large;
  margin-right: 0.5em;
  
}
.like:hover .full-heart{

  z-index: 100;
  position: absolute;
  
  
  }
  .like:hover .empty-heart{
    color:$color-random-color-primary;
    z-index: 101;
    position: relative;
  }
  
.empty-heart{
  color: $color-primary;
  animation:  fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.10s infinite ;
  /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
 
}
.full-heart{
 
  color: $color-primary-hsla;
  margin-top: -1.2em;
  z-index: -1;
  position: absolute;
  /*transition: fully 3s cubic-bezier(0.165, 0.84, 0.44, 1) .30s infinite  ;*/
  animation: fully 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.10s infinite  ;
}

/*@keyframes full {
  0%{
    color: $color-primary;
    
  }
 
  25%{
color: $color-third;
  }
  
  50%{
    color:$color-secondary;
  }
  
  75%{
color: $color-third;
  }
  100%{
    color: $color-primary;
  }
}*/




@keyframes fully {
  0%{
    color: $color-third;
    
  }
 
  25%{
color: $color-secondary;
  }
  
  50%{
    color:$color-primary;
  }
  
  75%{
color: $color-third;
  }
  100%{
    color: $color-secondary;
  }
}


.like-page-1:hover .full-heart {

  font-weight: bold;
  
}

.description {
  @include padding-margin(2%, 0);
  font-family: "Roboto", sans-serif;

  & p {
    padding-bottom: 1em;
    margin: 0;
  }
  & h3 {
    margin: 0;
  }
}
/*-------------- pages------*/
.restaurant-name {
  @include align-items-center(space-around);
  font-family: "Shrikhand", sans-serif;
  & i {
    @include size-weight(x-large, unset);
  }
}
.weight {
  font-weight: bold;
}
.titre-menu h2 {
  @include padding-margin(0, 25px 0 0 0);
  text-transform: uppercase;
  @include size-weight(larger, unset);
  font-family: "Roboto", sans-serif;
}
.underline {
  border: 1px solid $color-third;
  width: 17%;
  display: inline-block;
}
ul, .dishes {
  list-style-type: none;
  @include padding-margin(0, 0);
  position: fixed;
  width: 100%;
 background-color: #f6f6f6;



}
 .hover-checked-1 {
  background-color: $color-white;
  @include border-radius(15px);
  display: flex;
  
 
  width:100%;
  /*flex-direction: column;*/
  @include padding-margin(0, 4% 0 2% 0);
  transform-origin: translate(-50%, 50%);
  

  & 
  .coche-verte {
    color: $color-white;
    display: flex;
    justify-content: center;
    background-color: $color-third;
    width: 0;
    @include border-radius(0 15px 15px 0);
    overflow: hidden;
    transition: width 400ms ease-in;
  }
  
  .container:hover .coche-verte {
    color: $color-white;
    height: 100%;
    width: 5em;
   
  }
  .icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding-left: 62.5px;*/
    font-size: xx-large;
  
    
  
  }
  }
/*-----------------------------------menu top de haut en bas pages------------------------*/

.lien-1{
  display: flex;
}
/*.entree-un{
  opacity: 1;
}*/

/*
.bg-grey:hover ~ .lien-1{
  opacity: 1;
  transform: translate(0, 15px);
  transform-origin: y-offset(0%);
  transition-duration: 5s;
 z-index: 20000;
}*/

/*.slide-dishes{
  
  background-color: aquamarine;
  opacity: 0;
}
.slide-dishes:hover{
  opacity: 1;
  position: absolute;
 
  transition-duration: 10s;
  transform: translateY(10);
  animation: from-top 5s cubic-bezier(0.075, 0.82, 0.165, 1)  .1000ms forwards ;
}
@keyframes from-top{
  0%{
    transform-origin: top, bottom;
  }
}*/
  /*---------------------coche verte tournant sur elle meme------------*/
  .fas.fa-check-circle{
  
  animation: circle .9s cubic-bezier(.52,.14,0,1.28) ;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes circle {
  0%{
    transform: rotate(0deg);

  }
 /*50%{
    transform: rotate(180deg);
  }
 
  75%{
    transform: rotate(270deg);
  }*/
   100%{
     transform: rotate(360deg);
   }
}
  .contain-box{
    display: flex;
    justify-content: flex-end;
    
  }
  .prix {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10% 5% 4% 0%;
    flex-direction: column;
    font-weight: bold;
}
.container {
  width: 100%;
  display: flex;
}

.presentation {
  font-family: "roboto";
  margin: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis{
 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.entree{
  font-weight: bold;
}

  
  p {
    @include padding-margin(0, 2% 4% 2% 4%);
  }
  .alignement {
    @include padding-margin(0, 0 4% 2% 4%);
    @include display-justifyC-alignI(flex, space-between, unset);
  }
  #ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }






.sticker {
  /* display: flex;
  justify-content: flex-end;*/
  position: absolute;
  background-color: $color-third;
  right: 10%;
  width: 25%;
  @include border-radius(7px);
  @include padding-margin(0, 5% 0 0 0);
}
.new {
  @include display-justifyC-alignI(flex, center, unset);
  color: #008766;
}
/*--------------MAIN PAGE-1--------------------*/ /*--------------MAIN PAGE-1--------------------*/
/*--------------MAIN PAGE-1--------------------*/ /*--------------MAIN PAGE-1--------------------*/


/*.green-box{
  overflow: hidden;
  height: 0;
  background: rgb(14, 223, 76);
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  color: white;
  transform-origin: 50% 0;
  display: flex;
  
}
.chassé-croisé:hover > .green-box {
  height: 100%;
  display: block;
}

.green-box {
  &:active {
  & + .checked-button {
      & > .far.fa-check-circle.icone-checked {
              transform: scaleX(1);
              
          }
      }
  }
}
.checked-button{
  & .far.fa-check-circle.icone-checked {
      transform: scaleX(1);
      transition: transform 1000ms;
  }
}



.box-euro-cache{
  background: white;
  display: flex;
  overflow: hidden;
  height: 0;
  background: rgb(14, 223, 76);
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  color: white;
  transform-origin: 50% 0;
  
}
.hover-checked:hover > .box-euro-cache {
  height: 100%;
  display: block;
}

.euro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &:active {
      & + .cache {
          & > .far.fa-check-circle.icone-checked {
              transform: scaleX(1);
          }
      }
  }
}
.cache {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.far.fa-check-circle.icone-checked {
      transform: scaleX(0);
      transition: transform 1000ms;
      
     
}
}



.euro{
  background: red;
}
.cache {
  overflow: hidden;
  height: 0;
  background: blue;
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -ms-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  color: white;
}
.euro:hover > .cache {
  height: 30px;
  display: block;
}

#bloc-euro{
	height: 100%;
}
p{
	position: absolute;
	right: 0;
	transition: left 1s, transform 1s;
	white-space: nowrap;
}
#bloc-euro:hover p{
	right: 50%;
	transform: translateX(100%);
}
*/








/*
.centre{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.btn {
  position: relative;
  color: blanchedalmond;
  display: block;
  font-size: 100px;
  font-family: 'Courier New', Courier, monospace;
  margin: 30px 0;
  border: 2 px solid #0065fc;
  padding: 80px 60px;
  text-transform: uppercase;
  overflow: hidden;
}

.btn::after{
  content: "";
  background-color: cadetblue;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%) rotate(190deg);
  transform-origin: 100%, right;
  z-index: -1;
  transition: all 0.6s;
  width: 120%;
  height: 0%;
}
.btn:hover::after{
  height: 100%;
}*/