/*---------corps du site--------*/
main {
    background-color: #f2f2f2;
    padding-bottom: 10%;

    & .menilmontant-img{
      width: 100%;
      
    }
  }
  .restaurant-name{
    @include align-items-center (space-around); 
    font-family: "Shrikhand", sans-serif;
  }
  /*---------restaurants---------*/
  section a {
    text-decoration: none;
    color: black;
  }
  .restaurants {
  padding-top: 6%;
  
  h2 {
    @include padding-margin (4%, 0);
    font-family: "Roboto", sans-serif;}
  }
  figure {
    background-color: white;
    @include padding-margin (0, 4%);
    border-radius: 0 0 4% 4%;
  
    & img {
      width: 100%;
      height: 10em;
      border-radius: 4% 4% 0 0;
    }
  }
  .like {
    position: absolute;
    right: 10%;
    margin-top: -2.4em;
    font-size: x-large;
    margin-right: 0.5em;
  }
  .description {
    @include padding-margin (2%, 0);
    font-family: "Roboto", sans-serif;
  
  
    & p {
      padding-bottom: 1em;
      margin: 0;
    }
    & h3{
      margin: 0;
    }
  }