/*--------NAV---------*/
#navigation {
  @include padding-margin(0, 4%);
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif;
  & ol {
    padding: 0;
    counter-reset: liste;
  }
  & li {
    background-color: $color-white;
    @include padding-margin(4%, 4%);
    position: relative;
    border-radius: 1.5em;
    text-align: center;
    list-style-type: none;
    counter-increment: liste;
    box-shadow: $box-shadow-grey-around;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.9s;
    transition: all 450ms;
    transition: transform 450ms, background-color 300ms;
    transition-delay: 0, 150ms;
    translate: transform 2s cubic-bezier(0.17, 0.67, 0.94, 0.28);
    &:hover {
      transform: scale(1.05);
      background: linear-gradient($color-secondary, $color-primary);      
      color: darken($third-complementary-color, 10);
      transition: background-color 250ms;
    }
  }

  & li:before {
    content: counter(liste);
    padding: 1% 3% 1%;
    background-color: lighten($color-primary, 15);
    border-radius: 50%;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    position: absolute;
    left: -3%;
    top: 31%;
  }

  & i {
    @include padding-margin(3%, 0);
    color: #acabab;
  }
}
.btn {
  border-radius: 2rem;
  background-color: $color-white;
  position: relative;
  z-index: -1;
  &:hover {
    .btn_bg {
      opacity: 1;
    }
  }
  &_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-third;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
    border-radius: 2rem;

    
  }
}
.text-deco-none {
  @include text-deco(none);
  color: $color-black;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
