/*----------------------@keyframe loading page----------------*/
@keyframes load-1 {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
    z-index: -100;
  }
}

/*----------------------@keyframe loading page Letter------------*/
@keyframes flash {
  0%{
    color: $color-third;
     
    text-shadow: 0 0 7px $color-secondary ;
  }
 
  90%{
   color: $color-secondary;
   
    text-shadow: $color-random-color-third;
  }
  100%{
    color:$color-primary;
    text-shadow: 0 0 7px  $color-primary; 
    
   
  }
}

/*----------------------@keyframe loading page LETTERS-----------*/

@keyframes lettres {
  0%{
    opacity: 1;

    text-shadow: 0 0 7px $color-primary;
}
25%{
  opacity: 1;
  text-shadow: 0 0 7px $color-third;
}
50%{
  opacity: 0;
  

}
75%{
  opacity: 1;
  text-shadow: 0 0 7px $color-secondary
}
100%{
    opacity: 1;
    

    text-shadow: 0 0 7px $color-third-complementary-color;
  
}
}

/*----------------------@keyframe loading page point-------------*/
@keyframes point {
  0%{
      opacity: 1;
      color: $color-primary;
      text-shadow: 0 0 7px $color-primary
  }
  50%{
      transform: translateX(96px);
  }
  90%{
    color: $color-primary;
    text-shadow: none;

  }
  100%{
      opacity: 1;
      display: none;
      color:$color-primary ;
      text-shadow: 0 0 7px $color-primary;
  }
}

/*----------------------@keyframe loading page POINTS-------*/

@keyframes points{
  0%{
      opacity: 1;
      color: $color-primary;
      text-shadow: 0 0 7px $color-secondary
  }
  50%{
      transform: translateX(-31px);
  }
  90%{
    color: $color-secondary;
    text-shadow: none;

  }
  100%{
      opacity: 1;
      display: none;
      color:$color-primary ;
    text-shadow: 0 0 7px $color-secondary;
  }
}
/*----------------------@keyframe Coeur-heart empty----------------*/

@keyframes fully {
    0% {
      color: $color-third;
    }

    25% {
      color: $color-secondary;
    }

    50% {
      color: $color-primary;
    }

    75% {
      color: $color-third;
    }
    100% {
      color: $color-secondary;
    }
  }


  
  /*------------------------@keyframe apparition menu décalé pages---------------*/
  @keyframes apparition-menus {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    10% {
      opacity: 0.1;
      transform: translateY(-4px);
    }
    20% {
      opacity: 0.2;
      transform: translateY(-3px);
    }
    30% {
      opacity: 0.3;
      transform: translateY(-2px);
    }
    40% {
      opacity: 0.4;
      transform: translateY(-1px);
    }

    50% {
      opacity: 0.5;
      transform: translateY(0);
    }
    60% {
      opacity: 0.6;
      transform: translateY(1px);
    }
    70% {
      opacity: 0.7;
      transform: translateY(2px);
    }
    80% {
      opacity: 0.8;
      transform: translateY(3px);
    }
    90% {
      opacity: 0.9;
      transform: translateY(4px);
    }
    100% {
      opacity: 1;
      transform: translateY(5px);
    }
  }
/*----------------------@keyframe apparition plats décalé-------------*/
@keyframes apparition-plats {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    10% {
      opacity: 0.1;
      transform: translateY(-4px);
    }
    20% {
      opacity: 0.2;
      transform: translateY(-3px);
    }
    30% {
      opacity: 0.3;
      transform: translateY(-2px);
    }
    40% {
      opacity: 0.4;
      transform: translateY(-1px);
    }

    50% {
      opacity: 0.5;
      transform: translateY(0);
    }
    60% {
      opacity: 0.6;
      transform: translateY(1px);
    }
    70% {
      opacity: 0.7;
      transform: translateY(2px);
    }
    80% {
      opacity: 0.8;
      transform: translateY(3px);
    }
    90% {
      opacity: 0.9;
      transform: translateY(4px);
    }
    100% {
      opacity: 1;
      transform: translateY(5px);
    }
  }

  /*--------------------@keyframe coche verte tournante-------------*/
  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }