/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/

/*-----------------------main html----------------------------------------------*/
.main-index {
  background-color: #f4f4f4;
  padding-bottom: 12%;
  .cartes-restaurants {
    font-family: "Roboto", sans-serif;

    .titres-cartes-restaurant h2 {
      margin: 0;
      padding: 11% 0 6% 4%;
      font-size: 7vw;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 7vh;
      }
    }
    .cartes-restaurants-sanstitreprincipal {
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1440px) {
        display: unset;
      }
      .deux-premiers-resto {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
          display: unset;
        }

        #premier-resto {
          margin: 4vw;
          border-radius: 1em 1em 1em 1em;
          background-color: $color-white;
          height: 31vh;
          
        }
        #second-resto {
          margin: 4vw;
          border-radius: 1em 1em 1em 1em;
          background-color: $color-white;
          height: 31vh;
          
        }
        .relatif-description-like {
         
            margin-top: -8vh;
         
          .lien-description-like {
            .lien {
              a {
                text-decoration: none;
                color: $color-black;

                .decription-hTrois-p {
                  margin: 0 2vw;
                  .hTrois {
                    & h3 {
                      margin-top: -3vh;
                      font-size: 5vw;
                      @media screen and (min-width: 768px) {
                        font-size: 3vw;
                        margin-top: -1vh;
                      }
                    }
                  }
                  .p p {
                    margin-top: -3vh;
                    font-size: 4.5vw;
                    @media screen and (min-width: 768px) {
                      font-size: 2.5vw;
                    }
                  }
                }
                .hTrois-p-relatif {
                  @media screen and (min-width: 768px) {
                    margin: 3vh 2vw;
                  }
                }
              }
            }
          }
        }
      }
      .deux-derniers-resto {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
          display: unset;
        }

        #troisieme-resto {
          margin: 0 4vw;
          border-radius: 1em 1em 1em 1em;
          background-color: $color-white;
          height: 32vh;
          
        }
        #quatrieme-resto {
          margin: 4vw;
          border-radius: 1em 1em 1em 1em;
          background-color: $color-white;
          height: 32vh;
         
        }
        .description-like {
          margin-top: 4vh;
          .lien-description-like {
            .lien {
              a {
                text-decoration: none;
                color: $color-black;

                .decription-hTrois-p {
                  margin: 0 2vw;
                  .hTrois {
                    & h3 {
                      margin-top: -3vh;
                      font-size: 5vw;
                      @media screen and (min-width: 768px) {
                        font-size: 3vw;
                        margin-top: -1vh;
                      }
                    }
                  }
                  .p p {
                    margin-top: -3vh;
                    font-size: 4.5vw;
                    @media screen and (min-width: 768px) {
                      font-size: 2.5vw;
                    }
                  }
                }
                
              }
            }
          }
        }
      }
      /*.deux-derniers-resto {
        display: flex;
        flex-direction: column;
        margin-top: -1vh;
        @media screen and (min-width: 768px) {
          display: unset;
        }

        #troisieme-resto {
          margin: 4vw;
          border-radius: 1em 1em 1em 1em;
          background-color: $color-white;
          height: 34vh;
          @media screen and (min-width: 768px) {
            margin-top: -1vh;
          }
        }
        #quatrieme-resto {
          margin: 4vw;
          border-radius: 1em 1em 1em 1em;
          background-color: $color-white;
          height: 34vh;
          @media screen and (min-width: 768px) {
            margin-top: 3vh;
          }
          margin-top: 1vh;
        }

        .description-like {
          .lien-description-like {
            .lien {
              a {
                text-decoration: none;
                color: $color-black;

                .decription-hTrois-p {
                  margin: 5vh 2vw;
                  .hTrois {
                    & h3 {
                      margin-top: -3vh;
                      font-size: 5vw;
                      @media screen and (min-width: 768px) {
                        font-size: 3vw;
                        margin-top: -1vh;
                      }
                    }
                  }
                  .p p {
                    margin-top: -3vh;
                    font-size: 4.5vw;
                    @media screen and (min-width: 768px) {
                      font-size: 2.5vw;
                    }
                  }
                }
              }
            }
          }
        }
      }*/
      
    }
  }
}

/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/

/*-------------------------restaurant-IMG----------------------------------*/
.restaurant-img {
  margin: 0;

  img {
    width: 100vw;
    object-fit: cover;
    height: 41vh;
  }
}

main {
  background-color: $color-background;

  .section-restoUnDeuxTroisQuatre {
    background-color: $color-background;
    border-radius: 2em 2em 0 0;
    position: relative;
    top: -3em;
    z-index: 1;

    /*--------------------------restaurant-NOM + COEUR-------------------------*/
    .restaurant-name-like {
      display: flex;
      align-items: center;
      padding: 1em;
      justify-content: space-around;

      .restaurant-name h2 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        font-size: 7vw;
      }
    }

    /*--------------------------Titre menu + UNDERLINE-----------------------------*/
    .titre-underline {
      text-transform: uppercase;
      margin-left: 6%;
      font-family: "Roboto", sans-serif;
      display: flex;
      flex-direction: column;

      .titre h2 {
        font-weight: lighter;
        margin: 0;
        font-size: 8vw;
      }

      .underline {
        border-top: 1px solid $color-third;
        width: 20vw;
        display: inline-block;
      }
    }

    /*----------------------------------UL/LI/DISHES + PRIX ET COCHE VERTE---------------------------------*/

    .liste-dishes {
      background-color: $color-white;
      margin: 5%;
      border-radius: 1em;
      transition-duration: 0s;
      animation-name: apparition-menus;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.73, 0.11, 0.46, 0.69);

      .dishes {
        padding: 0;

        .dishes-un {
          list-style-type: none;
          animation-name: apparition-plats;
          animation-duration: 2s;
          animation-timing-function: cubic-bezier(0.69, 0.46, 0.11, 0.73);

          .presentation-prix-coche-verte {
            display: flex;
            justify-content: space-between;
            .presentation {
              font-family: "roboto";
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
              flex-direction: column;
              padding: 1em;

              & .span-ellipsis {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 4vw;
              }
              .weight {
                font-weight: bold;
                font-size: 5vw;
              }
            }
            .prix-coche-verte {
              display: flex;
              .prix {
                display: flex;
                align-items: flex-end;

                span {
                  padding: 1em;
                  font-size: 5vw;
                }
              }
            }

            &:hover .coche-verte {
              color: $color-white;

              width: 27vw;
            }
          }
        }
      }
    }
  }
}
