/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/
/*------------------------------------------------------INDEX------------------------------*/

/*-----------------------main html----------------------------------------------*/
.main-index {
  background-color: #f4f4f4;
  padding-bottom: 12%;
  .cartes-restaurants {
    font-family: "Roboto", sans-serif;

    .titre {
      @media (min-width: 1280px) and (min-height: 720px){
        display: flex;
        justify-content: center;
      }
      @media (min-width: 1440px) and (min-height: 900px) {
        display: flex;
        justify-content: center;
      }
      h2 {
        margin: 0;
        padding: 16% 0 3% 4%;
        font-size: 7vw;
      }
    }
    .cartes {
      @media (min-width: 1440px) and (min-height: 900px) {
        display: flex;
        flex-wrap: wrap;
      }
      @media (min-width: 1920px) and (min-height: 1080px){
        justify-content: center;
      }
      .img-resto {
        margin: 4vw;
        background-color: $color-white;
        border-radius: 1em;
        height: 35vh;
        @media (min-width: 375px) and (min-height: 812px) {
          height: 32vh;
        }
        @media (min-width: 414px) and (min-height: 896px) {
          height: 32vh;
        }
        @media (min-width: 1024px) and (min-height: 1366px){
          height: 34vh;
        }
        @media (min-width: 1280px) and (min-height: 720px){
          height: 45vh;
        }
        @media (min-width: 1280px) and (min-height: 800px) {
          height: 45vh;
        }
        @media (min-width: 1440px) and (min-height: 900px) {
          height: 45vh;
        }
        .lien {
          text-decoration: none;
          color: $color-black;
          .img {
            width: 100%;
            border-radius: 1em 1em 0 0;
            height: 25vh;
            -o-object-fit: cover;
            object-fit: cover;

            @media (min-width: 384px) and (min-height: 640px) {
              padding: 0;
            }
            @media (min-width: 1280px) and (min-height: 720px){
              height: 31vh;
            }
            @media (min-width: 1280px) and (min-height: 800px) {
              height: 35vh;
              padding: 0;
            }

            @media (min-width: 1440px) and (min-height: 900px) {
              width: 67vh;
              border-radius: 1em 1em 0 0;
              height: 32vh;
              object-fit: cover;
              object-fit: cover;
            }
          }
        }
        .description-et-coeur {
          .nom-restaurant {
            h3 {
              margin: 0 0 -2vh 1vw;
              @media (min-width: 768px) and (min-height: 1024px) {
                
                font-size: 5vw;
              }
              @media (min-width: 800px) and (min-height: 1280px) {
                font-size: 5vw;
              }
              @media (min-width: 1280px) and (min-height: 720px){
                font-size: 3vw;
              }
              @media (min-width: 1280px) and (min-height: 800px) {
                margin: 0 0 -2vh 1vw;
                font-size: 2vw;
              }
              @media (min-width: 1440px) and (min-height: 900px) {
                font-size: 3vw;
              }
            }
          }
          .lieu {
            p {
              padding: 0vh 0 1vh 1vw;
              @media (min-width: 800px) and (min-height: 1280px) {
                font-size: 3.5vw;
              }
              @media (min-width: 1280px) and (min-height: 720px){
                font-size: 2vw;
              }
              @media (min-width: 1280px) and (min-height: 800px) {
                font-size: 2vw;
              }
              @media (min-width: 1440px) and (min-height: 900px) {
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
  }
}

/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/
/*------------------------------------Pages restaurants----------------------
--------------------------------------------------------------------------*/

/*-------------------------restaurant-IMG----------------------------------*/
.restaurant-img {
  margin: 0;

  img {
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    height: 41vh;
  }
}

main {
  background-color: $color-background;
  padding-bottom: 4vh;
  .section-restaurants {
    background-color: $color-background;
    border-radius: 2em 2em 0 0;
    position: relative;
    top: -3em;
    z-index: 1;

    /*--------------------------restaurant-NOM + COEUR-------------------------*/
    .restaurantName-et-coeurPages {
      display: flex;
      align-items: center;
      padding: 1em;
      justify-content: space-around;

      .restaurantName h2 {
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        font-size: 7vw;
      }
    }

    /*--------------------------Titre menu + UNDERLINE-----------------------------*/
    .titre-underline {
      text-transform: uppercase;
      margin-left: 6%;
      font-family: "Roboto", sans-serif;
      display: flex;
      flex-direction: column;

      .titre h2 {
        font-weight: lighter;
        margin: 0;
        font-size: 8vw;
      }

      .underline {
        border-top: 1px solid $color-third;
        width: 20vw;
        display: inline-block;
      }
    }

    /*----------------------------------UL/LI/DISHES + PRIX ET COCHE VERTE---------------------------------*/

    ul {
      padding: 0;
      
      margin: 5%;
      border-radius: 1em;
      transition-duration: 0s;
      -webkit-animation-name: apparition-menus;
      animation-name: apparition-menus;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-timing-function: cubic-bezier(0.73, 0.11, 0.46, 0.69);
      animation-timing-function: cubic-bezier(0.73, 0.11, 0.46, 0.69);

      
        

        .dishes-un, .dishes-deux, .dishes-trois, .dishes-quatre, .dishes-cinq, .dishes-six, .dishes-sept, .dishes-huit, .dishes-neuf {
          border-radius: 1em;
          background-color: $color-white;
          margin-top: 4vh;
          padding: 0;
          list-style-type: none;
          -webkit-animation-name: apparition-plats;
          animation-name: apparition-plats;
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-timing-function: cubic-bezier(0.69, 0.46, 0.11, 0.73);
          animation-timing-function: cubic-bezier(0.69, 0.46, 0.11, 0.73);

          .ellipsis-prix-coche-verte {
            display: flex;
            justify-content: space-between;
            
              font-family: "roboto";
              margin: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
              
              
                .span-ellipsis{
                  overflow: hidden;
                  text-overflow: ellipsis;
                  padding: 3vh;
                  display: flex;
                  flex-direction: column;
                
              & .ellipsis {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 4vw;
              
              
                font-weight: bold;
                font-size: 5vw;
              }
              .weight{
                font-weight: lighter;
              }
            }
            .prix-coche-verte {
              display: flex;
              .prix {
                display: flex;
                align-items: flex-end;

                span {
                  padding: 1em;
                  font-size: 5vw;
                }
              }
            }

            &:hover .coche-verte {
              color: $color-white;

              width: 27vw;
            }
          }
        }
      
    }
  }
}
