@media (min-width: 375px) {
    /*-----------navigation-index- accueil----------*/
    .navigation-index {
        .liste-fonctionnement {
            .items-fonctionnement {
                &:before {
                    border-radius: 50%;
                }
            }
        }
    }

    /*---------------Main index accueil---------*/
    .main-index {
        .cartes-restaurants {
            .cartes-restaurants-sanstitreprincipal {
                .deux-premiers-resto {
                    #premier-resto {
                        height: 29vh;
                    }
                    #second-resto {
                        height: 29vh;
                        margin-top: 3vh;
                    }
                }
                .deux-derniers-resto {
                    #troisieme-resto {
                        height: 31vh;
                    }
                    #quatrieme-resto {
                        height: 31vh;
                    }
                }
            }
        }
    }
    /*--------------------coeur-clignotant-accueil--------------*/

    .coeur-clignotant {
        margin-top: -7vh;
    }
}
/*---------------@media-min-height:812px----------------------*/

/*-----------navigation-index- accueil----------*/

@media (min-height: 812px) {
    .navigation-index {
        .liste-fonctionnement {
            .items-fonctionnement {
                &:before {
                    font-size: 2vh;
                }
            }
        }
    }
    /*---------------Main index accueil---------*/
    .main-index {
        .cartes-restaurants {
            .cartes-restaurants-sanstitreprincipal {
                .deux-premiers-resto {
                    #premier-resto {
                        height: 26vh;
                        margin: 3vh 4vw;
                    }
                    #second-resto {
                        height: 26vh;
                        margin-top: 3vh;
                    }
                }
                .deux-derniers-resto {
                    #troisieme-resto {
                        height: 29vh;
                    }
                    #quatrieme-resto {
                        height: 29vh;
                    }
                }
            }
        }
    }
}
/*------------------MIN-WIDTH 800px-----------------*/
/*----------------main index accueil------------------------*/
@media screen and (min-width: 800px) {
    .main-index {
        .cartes-restaurants {
            .titres-cartes-restaurant {
                display: flex;
                justify-content: center;
            }
            .cartes-restaurants-sanstitreprincipal {
                display: flex;
                .deux-premiers-resto {
                    #premier-resto {
                        height: 24vh;
                        margin: 5vh 4vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 4vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 16vw;
                                            .new {
                                                position: relative;
                                                top: -1vh;
                                                font-size: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 4vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 3.5vw;
                                            }
                                        }
                                    }
                                    .coeur-clignotant {
                                        margin-top: -5vh;
                                        left: 35vw;
                                        font-size: 5vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                    #second-resto {
                        height: 24vh;
                        margin-top: 3vh;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 4vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 16vw;
                                            .new {
                                                position: relative;
                                                top: -1vh;
                                                font-size: 3vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 4vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 3.5vw;
                                            }
                                        }
                                    }
                                    .coeur-clignotant {
                                        margin-top: -5vh;
                                        left: 35vw;
                                        font-size: 5vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .deux-derniers-resto {
                    #troisieme-resto {
                        height: 29vh;

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 4vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 3.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 35vw;
                                        font-size: 5vw;
                                        width: 0;
                                        margin-top: -5vh;
                                    }
                                }
                            }
                        }
                    }
                    #quatrieme-resto {
                        height: 29vh;
                        margin-top: 3vh;
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 4vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 3.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 35vw;
                                        font-size: 5vw;
                                        width: 0;
                                        margin-top: -5vh;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*--------------------navogation fonctionnement index----------*/

    .navigation-index {
        .titreFonctionnement {
            h2 {
                display: flex;
                justify-content: center;
            }
        }
        .liste-fonctionnement {
            .conteneur-items-fonctionnement {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .items-fonctionnement {
                    width: 28vw;
                    .bouton-choix-restaurant {
                        p {
                            font-size: 2vw;
                        }
                    }
                    .awesome-boutonChoixRestaurant-btn_bg {
                        display: flex;
                        justify-content: space-betweens;
                        .awesome {
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
    }
}
/*----------------------------min-width 1280px resto accueil main index----*/
@media screen and (min-width: 1280px) {
    .main-index {
        .cartes-restaurants {
            .titres-cartes-restaurant {
                display: flex;
                justify-content: center;
            }
            .cartes-restaurants-sanstitreprincipal {
                display: flex;
                justify-content: center;
                .deux-premiers-resto {
                    #premier-resto {
                        height: 24vh;
                        width: 33vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 4vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 11vw;
                                            .new {
                                                position: relative;
                                                top: 0vh;
                                                font-size: 2vw;
                                                margin: 0;
                                                display: flex;

                                                justify-content: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    .coeur-clignotant {
                                        margin-top: -10vh;
                                        left: 28vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                    #second-resto {
                        height: 24vh;
                        margin-top: 3vh;
                        width: 33vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 4vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 11vw;
                                            .new {
                                                position: relative;
                                                top: 0vh;
                                                font-size: 2vw;
                                                margin: 0;
                                                display: flex;

                                                justify-content: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    .coeur-clignotant {
                                        margin-top: -10vh;
                                        left: 28vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .deux-derniers-resto {
                    #troisieme-resto {
                        height: 29vh;
                        width: 33vw;
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 28vw;
                                        font-size: 4vw;
                                        width: 0;
                                        margin-top: -10vh;
                                    }
                                }
                            }
                        }
                    }
                    #quatrieme-resto {
                        height: 29vh;
                        margin-top: 3vh;
                        width: 33vw;
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 28vw;
                                        font-size: 4vw;
                                        width: 0;
                                        margin-top: -10vh;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*---------------------------min-width:1280 min-height: 720--------------*/
@media (min-width: 1280px) and (min-height: 720px) {
    /*---------------navigation index accueil-------*/

    .navigation-index {
        .liste-fonctionnement {
            .items-fonctionnement {
                &:before {
                    font-size: 4vh;
                }
            }
        }
    }
    /*----------------main index accueil-------------------*/
    .main-index {
        .cartes-restaurants {
            .titres-cartes-restaurant {
                display: flex;
                justify-content: center;
            }
            .cartes-restaurants-sanstitreprincipal {
                display: flex;
                justify-content: center;

                .deux-premiers-resto {
                    #premier-resto {
                        height: 32vh;
                        width: 41vw;

                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 6vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 11vw;
                                            .new {
                                                position: relative;
                                                top: 1vh;
                                                font-size: 2vw;
                                                margin: 0;
                                                display: flex;

                                                justify-content: center;
                                            }
                                        }
                                    }
                                    .img-resto-relatif {
                                        img {
                                            height: 25vh;
                                        }
                                    }
                                }
                            }
                        }
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                    }
                                    .coeur-clignotant {
                                        margin-top: -11vh;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }

                    #second-resto {
                        height: 32vh;
                        width: 41vw;

                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 6vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 11vw;
                                            .new {
                                                position: relative;
                                                top: 1vh;
                                                font-size: 2vw;
                                                margin: 0;
                                                display: flex;

                                                justify-content: center;
                                            }
                                        }
                                    }
                                    .img-resto-relatif {
                                        img {
                                            height: 25vh;
                                        }
                                    }
                                }
                            }
                        }
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                    }
                                    .coeur-clignotant {
                                        margin-top: -11vh;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .deux-derniers-resto {
                    #troisieme-resto {
                        height: 35vh;
                        width: 41vw;
                        margin-top: 2vh;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .img {
                                        img {
                                            height: 25vh;
                                        }
                                    }
                                }
                            }
                        }
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                        margin-top: -11vh;
                                    }
                                }
                            }
                        }
                    }
                    #quatrieme-resto {
                        height: 35vh;
                        width: 41vw;
                        margin-top: 5vh;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .img {
                                        img {
                                            height: 25vh;
                                        }
                                    }
                                }
                            }
                        }
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                        margin-top: -11vh;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /*-------------------footer------------------*/

    .footer-logo-txtUn-txtDeux-txtTrois-txtQuatre {
        .logo {
            p {
                font-size: 5vw;
                font-weight: bold;
                margin: 0;
            }
        }
        .txtUn-txtDeux-txtTrois-txtQuatre {
            display: flex;
            #txtUn {
                .icone-hTrois-txtUn {
                    .icone-txtUn {
                        .fas.fa-utensils {
                            font-size: 2vw;
                        }
                    }
                    .hTrois-txtUn {
                        h3 {
                            margin: 0;
                        }
                    }
                }
            }

            .icone-hTrois-txtDeux {
                .icone-txtDeux {
                    .fa-hands-helping {
                        font-size: 2vw;
                    }
                }
                .hTrois-txtDeux {
                    h3 {
                        margin: 0;
                    }
                }
            }

            #txtTrois {
                .hTrois-txtTrois {
                    h3 {
                    }
                }
            }
            #txtQuatre {
                .mail-txtQuatre {
                    margin: 0;
                }
            }
        }
    }
}

/*----------------------------min width:1280 min-height: 950-------------*/
@media (min-width: 1280px) and (min-height: 950px) {
    /*---------------navigation index accueil-------*/

    .navigation-index {
        .liste-fonctionnement {
            .items-fonctionnement {
                &:before {
                    font-size: 3vh;
                }
            }
        }
    }
    /*----------------main index accueil-------------------*/
    .main-index {
        .cartes-restaurants {
            .titres-cartes-restaurant {
                display: flex;
                justify-content: center;
            }
            .cartes-restaurants-sanstitreprincipal {
                display: flex;
                justify-content: center;

                .deux-premiers-resto {
                    #premier-resto {
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 5vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 11vw;
                                            .new {
                                                position: relative;
                                                top: 1vh;
                                                font-size: 2vw;
                                                margin: 0;
                                                display: flex;

                                                justify-content: center;
                                            }
                                        }
                                    }
                                    .img-resto-relatif {
                                        img {
                                            height: 29vh;
                                        }
                                    }
                                }
                            }
                        }
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                    }
                                    .coeur-clignotant {
                                        margin-top: -8vh;
                                        left: 36vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                    #second-resto {
                        height: 32vh;
                        margin-top: 3vh;
                        width: 41vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 5vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 11vw;
                                            .new {
                                                position: relative;
                                                top: 1vh;
                                                font-size: 2vw;
                                                margin: 0;
                                                display: flex;

                                                justify-content: center;
                                            }
                                        }
                                    }
                                    .img-resto-relatif {
                                        img {
                                            height: 29vh;
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    .coeur-clignotant {
                                        margin-top: -8vh;
                                        left: 36vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .deux-derniers-resto {
                    #troisieme-resto {
                        height: 36vh;
                        width: 41vw;
                        margin-top: 1vh;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .img {
                                        img {
                                            height: 29vh;
                                        }
                                    }
                                }
                            }
                        }
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 36vw;
                                        font-size: 4vw;
                                        width: 0;
                                        margin-top: -8vh;
                                    }
                                }
                            }
                        }
                    }
                    #quatrieme-resto {
                        height: 36vh;
                        width: 41vw;
                        margin-top: 4vh;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .img {
                                        img {
                                            height: 29vh;
                                        }
                                    }
                                }
                            }
                        }
                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 2vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                    #coeur-deux-derniers-resto {
                                        position: relative;
                                        left: 36vw;
                                        font-size: 4vw;
                                        width: 0;
                                        margin-top: -8vh;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----------------------------min-width 1440px resto accuel main index----*/
@media screen and (min-width: 1440px) {
    /*---------------------navigation accueil---------------*/
    .navigation-index {
        .liste-fonctionnement {
            .items-fonctionnement {
                &:before {
                    font-size: 4vh;
                }
            }
        }
    }

    /*----------------------main-accueil-index-----------*/
    .main-index {
        .cartes-restaurants {
            .titres-cartes-restaurant {
                display: flex;
                justify-content: center;
            }
            .cartes-restaurants-sanstitreprincipal {
                .deux-premiers-resto {
                    #premier-resto {
                        height: 37vh;
                        margin: 5vh 4vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 4vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 10vw;
                                            .new {
                                                top: 0vh;
                                                font-size: 2vw;
                                                display: flex;
                                                justify-content: center;
                                            }
                                        }
                                    }
                                    .img-resto-relatif {
                                        img {
                                            height: 27vh;
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 3vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 2.5vw;
                                                margin-top: -6vh;
                                            }
                                        }
                                    }
                                    .coeur-clignotant {
                                        margin-top: -9vh;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                    #second-resto {
                        height: 37vh;
                        margin: 5vh 4vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .sticker-new {
                                        height: 4vh;
                                        top: -3vh;
                                        .sticker {
                                            position: relative;
                                            top: 1vh;
                                            width: 10vw;
                                            .new {
                                                top: 0vh;
                                                font-size: 2vw;
                                                display: flex;
                                                justify-content: center;
                                            }
                                        }
                                    }
                                    .img-resto-relatif {
                                        img {
                                            height: 27vh;
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 3vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 2.5vw;
                                                margin-top: -6vh;
                                            }
                                        }
                                    }
                                    .coeur-clignotant {
                                        margin-top: -9vh;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .deux-derniers-resto {
                    #troisieme-resto {
                        height: 42vh;
                        margin: 0vh 4vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .img {
                                        img {
                                            height: 27vh;
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 3vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 2.5vw;
                                                margin-top: -6vh;
                                            }
                                        }
                                    }

                                    #coeur-deux-derniers-resto {
                                        margin-top: -9vh;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                        position: relative;
                                    }
                                }
                            }
                        }
                    }
                    #quatrieme-resto {
                        height: 42vh;
                        margin: 5vh 4vw;
                        .lien-stickerNew-img {
                            .lien {
                                .txt-deco-none {
                                    .img {
                                        img {
                                            height: 27vh;
                                        }
                                    }
                                }
                            }
                        }

                        .description-like {
                            .lien-description-like {
                                .lien {
                                    .decription-hTrois-p {
                                        .hTrois {
                                            h3 {
                                                margin-top: -3vh;
                                                font-size: 3vw;
                                            }
                                        }
                                        .p {
                                            p {
                                                font-size: 2.5vw;
                                                margin-top: -6vh;
                                            }
                                        }
                                    }

                                    #coeur-deux-derniers-resto {
                                        margin-top: -9vh;
                                        left: 35vw;
                                        font-size: 4vw;
                                        width: 0;
                                        position: relative;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
