/*--------search---------*/
.rechercher {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2%;
    
    & h1 {
      font-size: x-large;
      text-align: center;
    }
    & .centre {
      text-align: center;
    }
    & button {
      background: linear-gradient($color-secondary, $color-primary);
      width: 76%;
      height: 4em;
      border-radius: 35px;
      color: white;
      font-size: medium;
      border: none;
      margin-top: 6%;
      box-shadow: $box-shadow;
    }
    aside {
      background-color: #f2f2f2;
      height: 19em;
      width: auto;
    }
    & .font {
      font-weight: bold;
      font-size: 1em;
    }
  }
  .container-recherche {
    width: 100%;
    background-color: $color-search;
    text-align: center;
    height: 3em;
    display: flex;
    justify-content: center;
    box-shadow: 15px 25px 6px 28px #cfcfcf;
  
    & input {
      border: none;
      background-color: $color-search;
      text-align: center;
      font-weight: bold;
    }
    & .icone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-search;
    }
  }