//./dart-sass/sass sass/style.scss style.css --watch*
//--------VARIABLES--------------------
//------------color-------------
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-third: #99e2d0;

$color-search: #eaeaea;
//----------padding-------------------
$padding: 7% 0 0% 7%;

//-----------box-shadow---------------------
$box-shadow: 7px 7px 10px #d2cccc;

//----------font-----------------------
@mixin googleFonts($font) {
  @import url("https://fonts.googleapis.com/css2?family=#{$font}");
}
@include googleFonts(Roboto); //--textes---
@include googleFonts(Shrikhand); //------logo et titres---


@import "body";
@import "header";
@import "search";
@import "nav";
@import "main";
@import "footer";


